#aside {
	padding: 62px 20px 100px 86px;
	@include media('<widescreen') {
		padding: 62px 40px 100px ;
	}
	h4 {
		color: $link-color;
	}
	.widget {
		margin: 0 0 15px;
		overflow: hidden;
		font-weight: 300;
		p {
			margin: 0 0 5px;
		}
		ul {
			margin: 0 !important;
			font-weight: normal;
			a {
				color: $text-color;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			li {
				padding: 0 0 48px !important;
				&:before {
					left: 0;
					top: auto;
					bottom: 24px;
					height: 0;
					width: 40px;
					border-radius: 0;
					border-top: 2px solid $text-color;
				}
				&:last-child {
					padding: 0 !important;
					&:before {
						display: none;
					}
				}
			}
		}
	}
}