#content {
	padding: 62px 90px 50px 70px;
	font-weight: 300;
	@include media('<widescreen') {
		padding: 62px 40px 50px;
	}
	@include media('<desktop') {
		padding: 32px 125px 20px 40px;
	}
	@include media('<tablet') {
		padding: 15px 15px 7px;
	}
	.wp-caption {
		padding: 0;
		max-width: none;
		border:none;
		margin: 0 -90px 32px -70px;
		@include media('<widescreen') {
			margin: 0 -40px 32px;
		}
		@include media('<desktop') {
			margin: 0 -125px 24px -40px;
		}
		@include media('<tablet') {
			margin: 0 -15px 16px;
		}
		img {
			width: 100%;
			max-width: none;
			height: auto;
		}
	}
	#map {
		margin: 30px -20px 30px 0;
		width: auto;
		height: 400px;
		@include media('<widescreen') {
			margin: 30px 0;
		}
		@include media('<tablet') {
			margin: 20px 0;
			height: 300px;
		}
	}
}
.btn-post {
	@extend %listreset;
	padding: 45px 0 42px;
	overflow: hidden;
	font-size: 22px;
	line-height: 32px;
	@include media('<tablet') {
		font-size: 18px;
		line-height: 24px;
		padding: 28px 0 ;
	}
	li {
		float: right;
		&:first-child {
			float: left;
			a {
				padding: 0 0 0 50px;
				@include media('<tablet') {
					padding: 0 0 0 38px;
				}
				[class^="icon-"] {
					right: auto;
					left: 0;
				}
				&:hover {
					.icon-arrow-left:before {
						animation: loopIconHorizontalInverse 0.5s ease;
					}
				}	
			}
		}
	}
	a {
		display: block;
		color: $text-color;
		text-decoration: none;
		padding: 0 50px 0 0;
		position: relative;
		[class^="icon-"] {
			position: absolute;
			right: 0;
			top: 0;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border:2px solid $text-color;
			overflow: hidden;
			text-align: center;
			font-size: 12px;
			line-height: 28px;
			&:before {
				display: inline-block;
				vertical-align: top;
			}
		}
		&:hover {
			text-decoration: none ;
			.icon-arrow-right:before {
				animation: loopIconHorizontal 0.5s ease;
			}
		}
		@include media('<tablet') {
			padding: 0 38px 0 0 ;
			[class^="icon-"] {
				width: 25px;
				height: 25px;
				line-height: 23px;
				font-size: 10px;
			}
		}
	}
}