#footer {
	background: $footer-bg;
	color: $footer-color;
	line-height: 22px;
	padding: 93px 0 0;
	@include media('<desktop') {
		padding: 76px 0 0;
		font-size: 16px;
		line-height: 20px;
	}
	@include media('<tablet') {
		padding: 32px 0 0;
		line-height: 17px;
		font-size: 14px;
	}
	a {
		color: $footer-color;
		text-decoration: none;
		transition: color 0.3s ease;
		&:hover {
			text-decoration: underline;
		}
	}
	.widget {
		float: left;
		width: 33.33%;
		margin: 0;
		padding: 0 15px 86px 0;
		@include media('<desktop') {
			padding: 0 15px 42px 0 ;
		}
		@include media('<tablet') {
			float: none;
			width: 100%;
		}
		&.form-container {
			width: 33%;
			@include media('<desktop') {
				width: 255px;
				padding: 0 15px 80px 0 ;
			}
			@include media('<tablet') {
				width: 100%;
				padding: 0 0 35px;
			}
		}
		&.nav-container {
			width: 44%;
			ul {
				float: left;
				width: 41%;
				padding: 0 5px 0 0;
			}
			@include media('<desktop') {
				float: right;
				width: 54%;
				ul {
					width: 44%;
				}
			}
			@include media('<tablet') {
				display: none;
			}
		}
		&.social-container {
			width: 23%;
			@include media('<desktop') {
				width: 230px;
				float: right;
				h5 {
					display: none;
				}
				ul {
					display: none;
				}
				.social-networks {
					display: block;
					margin: 0;
				}
			}
			@include media('<tablet') {
				display: none;
			}
		}
	}
	ul {
		@extend %listreset;
		li {
			margin: 0 0 10px;
		}
	}
	p {
		margin: 0 0 24px;
		@include media('<desktop') {
			margin: 0 0 16px;
		}
		@include media('<tablet') {
			margin: 0 0 14px;
		}
	}
	form {
		max-width: 270px;
		.btn {
			height: 50px;
			width: 185px;
			padding: 13px 7px;
			min-width: 0;
			@include media('<desktop') {
				display: block;
				width: 100%;
			}
			@include media('<tablet') {
				height: 43px;
				padding: 10px 7px;
			}
		}
		.btn:hover {
			color: $footer-color;
		}
		@include media('<tablet') {
			max-width: 100%;
		}
	}
	h5 {
		font-weight: bold;
		color: #f1f0ed;
		text-transform: uppercase;
		margin: 0 0 20px;
		font-size: 20px;
		letter-spacing: 1px;
		@include media('<desktop') {
			font-size: 18px;
			margin: 0 0 10px;
		}
		@include media('<tablet') {
			font-size: 15px;
			margin: 0 0 12px;
		}
	}
	.social-networks {
		font-size: 34px;
		margin-top: 105px;
		@extend %clearfix;
		li {
			float: left;
			margin: 0 10px 10px 0;
		}
		a:hover {
			text-decoration: none;
			color: #f1f0ed;
		}
	}
	.form-control {
		height: 50px;
		background: #454a50;
		color: #f1f0ed;
		border-color: #454a50;
		font-weight: normal;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 24px;
		@include placeholder {
			transition: all 0.3s ease;
			color: #1f262c;
		}
		&:focus {
			border-color: #f1f0ed;
			@include placeholder {
				color: #f1f0ed;
			}
		}
		@include media('<desktop') {
			font-size: 16px;
		}
		@include media('<tablet') {
			height: 43px;
			font-size: 14px;
		}
	}
	.form-group {
		margin: 0 0 10px;
		@include media('<tablet') {
			margin: 0 0 8px;
		}
	}
	.footer-container {
		background-color: #1b2127;
		padding: 27px 0 26px;
		color: #454a50;
		p {
			margin: 0;
		}
		.copyright {
			float: left;
			max-width: 65%;
		}
		.by {
			float: right;
			width: 23%;
		}
		@include media('<desktop') {
			padding: 23px 0 22px;
			.by {
				width: auto;
				overflow: hidden;
				float: none;
				text-align: right;
			}
			.copyright {
				max-width: 70%;
			}
		}
		@include media('<tablet') {
			padding: 14px 0 13px;
			p,
			.copyright,
			.by {
				float: none;
				display: inline;
				text-align: left;
				width: auto;
				max-width: 100%;
			}
		}
	}
}