.resize-active body *{
	transition-duration:0s !important;
	transition-delay:0s !important;
}
#header {
	background: $header-bg;
	position: relative;
	z-index: 3;
	padding: 22px 0 ;
	-webkit-backface-visibility: hidden;
	@include media('<widescreen') {
		padding: 20px 0;
	}
	@include media('<tablet') {
		padding: 12px 0;
	}
	.logo {
		position: absolute;
		top: 0;
		left: 15px;
		z-index: 2;
		@include media('<widescreen') {
			width: 208px;
		}
		@include media('<tablet') {
			width: 32px;
			overflow: hidden;
			img {
				height: 31px;
				width: auto;
				max-width: none;
			}
		}
	}
	.container {
		position: relative;
		height: 76px;
		@include media('<widescreen') {
			height: 60px;
		}
		@include media('<tablet') {
			height: 32px;
		}
	}
	.menu-opener {
		position: absolute;
		z-index: 2;
		right: 15px;
		top: 23px;
		color: #fbfaf9;
		text-decoration: none;
		* {-webkit-backface-visibility: hidden;}
		@include media('<widescreen') {
			top: 15px;
		}
		@include media('<tablet') {
			right: 16px;
			top: 6px;
		}
		.text-open {
			transition: all 0.4s ease 0.2s;
			opacity: 1;
			@include media('<tablet') {
				display: none;
			}
		}
		&:hover {
			.opener .lt {
				top: 2px;
			}
			.opener .lb {
				bottom: 2px;
			}
		}
		.opener {
			display: inline-block;
			vertical-align: top;
			width: 22px;
			height: 20px;
			margin-top: 5px;
			position: relative;
			margin-left: 12px;
			transition: transform .3s ease;
			@include media('<tablet') {
				margin: 0;
			}
			&:before {
	            content: "";
	            position: absolute;
	            left: -7px;
	            top: -7px;
	            right: -7px;
	            bottom: -7px;
	        }
	        span {
	        	-webkit-backface-visibility: hidden;
	            position: absolute;
	            height: 3px;
	            left: 0;
	            right: 0;
	            pointer-evens: none;
	            &:after{
	                background: #e3e1dc;
	                content: "";
	                position: absolute;
	                left: 0;
	                top: 0;
	                right: 0;
	                bottom: 0;
	                transition: transform .3s ease, background .3s ease;
	                transform: rotate(0);
	            }
	        }
	        .lt, .lb {
	            position: absolute;
	            top: 0;
	            left: 0;
	            right: 0;
	            height: 3px;
	            transition: all .3s ease;
	            margin: 0;
	            transform: translateY(0);
	        }
	        .lc {
	            top: 50%;
	            transform: translateY(-46%);
	            opacity: 1;
	            transition: opacity .3s ease;
	            background: #e3e1dc;
	            &:after {
	                background: none;
	            }
	        }
	        .lb {
	            top: auto;
	            bottom: 0;
	        }
		}
	}
	.slide-nav {
		padding: 0 90px 0 270px;
		position: absolute;
		top: 0;
		right: 15px;
		left: 15px;
		z-index: 1;
		bottom: 0;
		@include media('<widescreen') {
			padding: 0 90px 0 220px;
		}
	}
	.contact-block {
		display: none;
	}
	.main-nav,
	.add-nav {
		@extend %listreset;
		float: right;
		padding-top: 16px;
		opacity: 1;
		@include media('<widescreen') {
			padding-top: 8px;
		}
		>li {
			float: left;
			margin: 0 36px 0 0;
			padding: 0 0 40px;
			@include media('<widescreen') {
				margin: 0 27px 0 0;
				padding: 0 0 33px;
			}
			@include media('<desktop') {
				padding: 0;
			}
			>.icon-circle-close {
				float: right;
				position: absolute;
				opacity: 0;
				left: -9999px;
				color: #fbfaf9;
				margin: 12px -22px 0 0;
				font-size: 18px;
				width: 18px;
				cursor: pointer;
				text-align: right;
				line-height: 20px;
				transition: opacity 0.3s ease;
				display: none;
				@include media('<widescreen') {
					font-size: 16px;
					width: 16px;
					margin: 12px -20px 0 0;
				}
			}
			>a {
				color: #fbfaf9;
				float: left;
				white-space: nowrap;
				@include underline-hover(#fbfaf9);
			}
			&:hover > a,
			&.active >a {
				&:before {
					transform: scale(1, 1);
				}
			}
			/* &.active-drop > .icon-circle-close {
				position: static;
				opacity: 1;
			} */
			&:hover > .drop {
				transform: scale(1, 1);
				transition-delay:0s;
				@include media('<desktop') {
					transition-delay:0s;
				}
			}
			&.active-drop.active-one > .drop {
				transition-delay:0s;
			}
		}
	}
	.drop {
		position: absolute;
		top: calc(100% + 22px);
		left: -9999px;
		background: #e6e5e5;
		right: -9999px;
		overflow: hidden;
		display: block;
		transform: scale(1, 0);
		transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform-origin: top left;
		transition-delay:0s;
		@include media('<widescreen') {
			top: calc(100% + 20px);
		}
		
		.drop-holder {
			max-width: $container-large-desktop;
			margin: 0 auto;
			padding: 0 15px;
			@extend %clearfix;
			@include media('<widescreen') {
				max-width: 970px;
			}
		}
		.category-title,
		.back {
			font-size: 0;
			line-height: 0;
			height: 0;
			overflow: hidden;
			position: absolute;
			left: -9999px;
		}

		.left-col {
			float: left;
			width: 100%;
			padding: 42px 336px 35px 0;
			@include media('<widescreen') {
				padding: 42px 290px 35px 0;
			}
		}
		.column {
			float: left;
			width: 25%;
			padding: 0 15px 0 0;
			&:nth-child(4n+1) {
				clear: left;
			}
			ul {
				@extend %listreset;
				margin-bottom: 25px;
				line-height: 22px;
				li.active>a:before {
					transform: scale(1, 1);
				}
				li>br {
					display: none;
				}
			}
			a {
				color: #707478;
				@include underline-hover(#707478);
				padding: 0 0 4px;
			}
			li {
				padding: 0 0 6px;
			}
		}
		a {
			text-decoration: none;
		}
		.title {
			display: block;
			font-weight: bold;
			font-size: 20px;
			line-height: 26px;
			margin: 0 0 12px;
			>br {
				display: none;
			}
			a {
				color: $header-bg;
				@include underline-hover($header-bg);
				padding: 0 0 4px;
				br:first-child:not([class]) + br {
					display: none;
				}
			}
		}
		.right-col {
			float: right;
			width: 336px;
			margin: 0 0 0 -336px;
			padding: 45px 5px 40px 35px;
			position: relative;
			z-index: 2;
			@include media('<widescreen') {
				width: 290px;
				margin: 0 0 0 -290px;
			}
			&:after {
				content:'';
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				bottom: -200px;
				right: -9999px;
				background-color: #dcdbdc;
			}
		}
		.tools-list {
			@extend %listreset;
			font-size: 24px;
			line-height: 1.1;
			li {
				position: relative;
				padding: 0 0 16px 48px;
				font-size: inherit;
				line-height: inherit;
			}
			a {
				text-decoration: none;
				color: $header-bg;
				&:hover [class^="icon-"] {
					color: $header-bg;
				}
			}
			[class^="icon-"] {
				position: absolute;
				left: 0;
				top: 0;
				color: $link-color;
				font-size: 30px;
			}

		}
	}
	.main-nav {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.4s ease 0s 0.4s;
		>li {
			>a {
				opacity: 0;
				position: relative;
				left: 100px;
				transition: all 0.4s ease;
			}
		}
		.drop {
			.drop-holder {
				padding: 44px 15px 42px; 
			}
			ul {
				@extend %listreset;
				font-weight: bold;
				font-size: 0;
				line-height: 0;
				letter-spacing: -4px;
				text-align: center;
				li {
					font-size: 20px;
					line-height: 24px;
					display: inline-block;
					vertical-align: top;	
					letter-spacing: normal;
					margin: 0 52px 0 0;
					&:last-child {
						margin: 0;
					}
					@include media('<widescreen') {
						margin: 0 20px 0 0;
						font-size: 18px;
						line-height: 22px;
					}
				}
			}
			a {
				color: $header-bg;
				@include underline-hover($header-bg);
				padding: 0 0 4px;
			}
			.active>a:before {
				transform: scale(1, 1);
			}
		}
	}
	.add-nav {
		opacity: 1;
		visibility: visible;
		transition:  opacity 0.3s ease 0.2s, visibility 0s ease 0.2s;
	}
	@include media('<desktop') {
		font-size: 18px;
		.main-nav .drop {
			.drop-holder {
				padding: 31px 15px 20px 52px;
			}
			ul {
				text-align: left;
				li {
					display: block;
					margin: 0 0 20px;
				}
			}
		}
		.drop {
			top: 0;
			left:100vw;
			right: auto;
			bottom: auto;
			height: calc(100vh - 100px);
			transform: scale(1, 1);
			background: none;
			overflow: hidden;
			z-index: 2;
			width: 50vw;
			font-size: 18px;
			transform-origin: center center;
			transition: left 0.3s ease;
			&:after {
				content:'';
				position: absolute;
				top: 0;
				bottom:0;
				right: -999px;
				left: 0;
				background-color: #d2d3d4;
				z-index: -1;
			}
			.category-title {
				position: static;
				font-size: 22px;
				line-height: 1.4;
				visibility: visible;
				margin: 0 0 21px;
				display: block;
				height: auto;
				overflow: visible;
				a {
					color: $header-bg;
					@include underline-hover($header-bg);
					padding: 0;
					&:before {
						bottom: -3px;
					}
				}
			}
			.title {
				font-size: 18px;
				line-height: 24px;
				margin: 0 0 10px;
			}
			.drop-holder {
				width: 362px;
				margin: 0;
				overflow: visible;
				padding: 31px 15px 20px 52px;
			}
			.left-col {
				float: none;
				padding: 0;
				overflow: hidden;
			}
			.column {
				float: none;
				width: 100%;
				padding: 0 0 12px;
				ul {
					margin-bottom: 0;
					line-height: 22px;
				}
				a {
					padding: 0;
					&:before {
						bottom: -2px;
					}
				}
				li {
					padding: 0 0 10px;
				}
			}
			.tools-list {
				font-size: 18px;
				line-height: 22px;
				font-weight: bold;
				li {
					padding: 0 0 18px;
				}
			}
			.right-col {
				float: none;
				width: 100%;
				margin: 0;
				padding: 0;
				&:after {
					display: none;
				}
				[class^="icon-"] {
					display: none;
				}
				a {
					@include underline-hover($header-bg);
					padding: 0;
					&:before {
						bottom: -3px;
					}
				}
			}
		}
		.contact-block {
			display: block;
			width: 50%;
			padding: 0;
			background: none;
			position: static;
			&:before {
				display: none;
			}
			ul {
				@extend %listreset;
				margin-bottom: 40px;
				overflow: hidden;
				li {
					margin: 0 0 8px;
				}
				a {
					color: $header-bg;
					text-decoration: none;
					&:hover {
						color: $link-color;
					}
				}
			}
			.social-networks {
				font-size: 34px;
				margin: 0;
				li {
					margin: 0 10px 10px 0;
					float: left;
				}
			}
		}
		.slide-nav {
			position: fixed;
			top: -100vh;
			left: 0;
			right: 0;
			height: calc(100vh - 100px);
			padding: 0; 
			opacity: 0;
			background-color: #e6e5e5;
			overflow-y:auto;
			overflow-x:hidden;
			transition: opacity 0.4s ease, top 0s ease 0.4s;
		}
		.holder {
			max-width: 724px;
			margin: 0 auto;
			padding: 34px 0 20px;
			position: relative;
			z-index: 2;
			min-height: calc(100vh - 100px);
			&:after {
				content:'';
				position: absolute;
				top: 0;
				bottom:0;
				right: -999px;
				left: 50%;
				background-color: #d2d3d4;
				z-index: -1;
			}
		}
		nav {
			width: 50%;
			padding: 0 60px 0 0;
		}
		.main-nav,
		.add-nav {
			float: none;
			padding: 0 0 19px;
			visibility: visible;
			opacity: 1;
			border-bottom: 1px solid #dcdbdc;
			line-height: 1.2;
			> li {
				float: none;
				margin: 0;
				>.icon-circle-close{
					display: none;
				}
				>a {
					float: none;
					opacity: 1;
					left: 0;
					color: $header-bg;
					white-space: normal;
					display: block;
					padding: 0 22px 0 0;
					&:before {
						display: none;
					}
					span {
						@include underline-hover($header-bg);
						padding: 0;
						&:before {
							bottom: -3px;
						}
					}
					&:hover span:before {
						transform: scale(1, 1);
						transform-origin: left top;
					}
				}
				&.has-dropdown >a:after {
					content: "\e908";
					font-family: 'icomoon' !important;
					speak: none;
				    font-style: normal;
				    font-weight: normal;
				    font-variant: normal;
				    text-transform: none;
				    font-size: 16px;
				    position: absolute;
				    right: 0;
				    top: 6px;
				}
				&.active-drop > .drop {
					left: 50%;
					height: auto;
				}
			}
		}
		.add-nav {
			font-size: 22px;
			padding: 0;
			margin: 0 0 29px;
			>li {
				margin: 0 0 28px;
			}
		}
		.main-nav {
			margin: 0 0 32px;
			>li{
				margin: 0 0 15px;
				>a {
					font-weight: bold;
				}
			}
		}
	}
	@include media('<tablet') {
		font-size: 16px;
		.main-nav .drop .drop-holder {
			padding: 0 15px;
			ul li {
				font-size: 16px;
				line-height: 20px;
				margin: 0 0 8px;
			}
		}
		.drop {
			width: 100vw;
			font-size: 16px;
			background: #e6e6e6;
			&:after {
				display: none;
			}
			.drop-holder {
				min-height: calc(100vh - 64px);
				width: 100%;
				padding: 0 15px 70px;
				background: none;
			}
			.back {
				font-size: 16px;
				position: relative;
				left: 0;
				display: block;
				height: auto;
				line-height: 20px;
				cursor: pointer;
				margin: 0 -15px 25px;
				font-weight: bold;
				padding: 18px 15px 18px 45px;
				background: #d2d3d4;
				&:before {
					content: "\e908";
					font-family: 'icomoon' !important;
					speak: none;
				    font-style: normal;
				    font-weight: normal;
				    font-variant: normal;
				    text-transform: none;
				    font-size: 16px;
				    position: absolute;
				    left: 15px;
				    top: 19px;
				    transform: rotate(180deg);
				}
			}
			.category-title {
				font-size: 18px;
				margin: 0 0 17px;
			}
			.title {
				font-size: 16px;
				line-height: 20px;
				margin: 0 0 8px;
			}
			.column {
				padding: 0;
			}
			.column ul {
				line-height: 20px;
				margin: 0 0 12px;
			}
			.column li {
				padding: 0 0 7px;
			}
			.tools-list {
				font-size: 16px;
				line-height: 20px;
				li {
					font-size: inherit;
					line-height: inherit;
					padding: 0 0 8px;
				}
			}
		}
		.slide-nav {
			height: calc(100vh - 56px);
		}
		.add-nav {
			font-size: 18px;
			margin: 0 0 14px;
			> li {
				margin: 0 0 25px;
			}
		}
		.add-nav ,
		.main-nav{
			>li.has-dropdown >a:after {
				font-size: 14px;
				top: 4px;
			}
			>li {
				&:after {
					position: absolute;
					bottom: 0;
					width: 100%;
					top: 0;
					z-index: 1;
					left: 100%;
					content:'';
					background: #e6e6e6;
					transition: left 0.3s ease;
				}
				&.active-drop:after {
					left: 0;
				}
			}
			>li.active-drop > .drop {
				left: 0;
			}
		}
		.main-nav {
			padding: 0 0 5px;
			margin: 0 0 16px;
			>li {
				margin: 0 0 16px;
			}
		}
		.holder {
			padding:0;
			min-height: calc(100vh - 56px);
			&:after {
				display: none;
			}
		}
		nav {
			width: 100%;
			padding: 30px 15px 0;
		}
		.contact-block {
			width: 100%;
			padding: 0 15px;
			ul {
				margin: 0 0 25px;
			}
			ul li {
				margin: 0 0 6px;
			}
			.social-networks {
				font-size: 30px;
			}
		}
	}
}
.nav-active #header {
	.add-nav {
		height: 0;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay:0s;
		@include media('<desktop') {
			height: auto;
			visibility: visible;
			opacity: 1;
		}
	}
	.main-nav {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.4s ease, visibility 0s ease 0s;
		>li {
			> a {
				opacity: 1;
				left: 0;
			}
			&:nth-child(2) {
				>a {
					transition-delay: 0.1s;
				}
			}
			&:nth-child(3) {
				>a {
					transition-delay: 0.2s;
				}
			}
			&:nth-child(4) {
				>a {
					transition-delay: 0.3s;
				}
			}
			&:nth-child(5) {
				>a {
					transition-delay: 0.4s;
				}
			}
			&:nth-child(6) {
				>a {
					transition-delay: 0.5s;
				}
			}
			&:nth-child(7) {
				>a {
					transition-delay: 0.6s;
				}
			}
			&:nth-child(8) {
				>a {
					transition-delay: 0.7s;
				}
			}
			&:nth-child(9) {
				>a {
					transition-delay: 0.8s;
				}
			}
		}
	}
	.menu-opener {
		.text-open {
			opacity: 0;
			transition-delay:0s;
			@include media('<desktop') {
				opacity: 1;
			}
		}
		.opener{
	        .lt {
	            transition: transform .3s ease;
	            transform: translateY(9px);
	            visibility: visible;
	            &:after {
	                transform: rotate(45deg);
	                transition: transform .3s ease;
	            }
	        }
	        .lc {
	            opacity: 0;
	            transition: opacity .3s ease;
	        }
	        .lb {
	            transition: transform .3s ease;
	            transform: translateY(-9px);
	            &:after {
	                transform: rotate(-45deg);
	                transition: transform .3s ease;
	            }
	        }
		}
		&:hover {
			.opener {
				transform: rotate(-90deg);
			}
			.opener .lt {
				top: 0;
			}
			.opener .lb {
				bottom: 0;
			}
		}
    }
    @include media('<desktop') {
    	.slide-nav {
    		opacity: 1;
    		transition-delay:0s;
    		top: 100px;
    	}
    }
    @include media('<tablet') {
		.slide-nav {
			top: 56px;
		}
    }
}
@include media('<desktop') {
	.nav-active {
		overflow: hidden;
	}
}
