// custom variables and override bootstrap variables

$body-bg: #f8f7f6;
$text-color: #1f262c;
$link-color: #430096;
$link-hover-color: $link-color;
$link-hover-decoration: none;
$header-bg: #1e262d;
$footer-bg: #1f262c;
$footer-color: #707478;
$blue: #430096;
$gray: #ecebe7;
$dark-gray: #e3e1dc;

$font-size-base: 18px;
$line-height-base: 1.6;
$font-family-sans-serif: 'brown', Helvetica, Arial, sans-serif;
$headings-font-weight: bold;

$container-large-desktop: 1200px;

$btn-font-weight: bold;
$btn-default-color: #fff;
$btn-default-bg: #1e262d;
$btn-default-border: #1e262d;
$btn-border-radius-base:0;

$input-bg: #fff;
$input-color: $text-color;
$input-border: $input-bg;
$input-border-radius: 0;
$input-border-focus: $input-color;
$input-color-placeholder: #e3e1dc;
$input-height-base: 63px;
$form-group-margin-bottom: 20px;