/*
Theme Name: Base
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/

// devices viewport width starts at:
$breakpoints: (
    xs-phone: 320px,
    phone: 480px,
    tablet: 768px,
    desktop: 992px,
    widescreen: 1200px
);
 
// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";
@import "vendors/slick";
@import "vendors/jcf";
@import "vendors/fancybox";

@import 'base/fonts';
@import 'base/mixins';
@import 'base/helpers';
@import "base/wp-reset";
@import "base/typography";

@import "layout/header";
@import "layout/footer";
@import "layout/content";
@import "layout/aside";

@import "components/buttons";
@import "components/home-carousel";
@import "components/gallery-block";
@import "components/posts-block";
@import "components/calendar-block";
@import "components/cta-block";
@import "components/content-block";
@import "components/promo-image";
@import "components/promo-text";
@import "components/quote-block";
@import "components/social-carousel";
@import "components/form";
@import "components/slider";
@import "components/scroll-block";
@import "components/contact-block";
@import "components/contact-form";
@import "components/location-block";
@import "components/tags-block";
@import "components/filter-block";
@import "components/accordion";
@import "components/video";
@import "components/table";
@import "components/pagination";
@import "components/address-details";
@import "components/tabs";
@import "components/open-close";
@import "components/single-vacancies";

html {
    height: 100%;
    overflow-y: auto;
}
*:focus,
*:active,
a:active,
a:focus,
button:focus,
button:active,
input:focus,
input:active,
.btn:focus, .focus.btn, .btn:focus:active, .focus.btn:active, .active.btn:focus, .focus.active.btn {
    -moz-outline-style: none;
    outline:none;
}
:-moz-any-link:focus {
    outline: none;
}
a:focus {
    outline-style: none
}
body {
    min-width: 320px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    @include media('<desktop') {
        font-size: 16px;
    }
    @include media('<tablet') {
        font-size: 14px;
    }
}
#wrapper {
    overflow: hidden;
    min-height: 100%;
}
a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
/* @include media('>desktop') {
    a[href^='tel'] {
        cursor: default;
        pointer-events: none;
    } 
} */
.bg-stretch {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    bottom: 0;
    img {
        max-width: none;
        width: 100%;
        height: auto;
    }
}
.gray {
    background-color: $gray;
}
.dark-gray {
    background-color: $dark-gray;
}
.content {
    padding: 100px 0;
    @include media('<desktop') {
        padding: 80px 0; 
    }
    @include media('<tablet') {
        padding: 35px 0;
    }
}
.tools-list {
    text-align: left;
    @extend %listreset;
    li {
        position: relative;
        padding: 0 0 12px 50px;
        font-size: 24px;
        line-height: 30px;
    }
    a {
        text-decoration: none;
        color: $text-color;
        transition: color  0.3s ease;
        &:hover [class^="icon-"] {
            color: $text-color;
        }
    }
    [class^="icon-"] {
        position: absolute;
        left: 4px;
        color: $link-color;
        font-size: 30px;
        top: 1px;
    }
}
.row.no-padding {
    margin: 0;
    >[class^="col-"] {
        padding: 0;
        min-height: 0;
    }
}
.post-container {
    position: relative;
}
.fixed-block {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    color: #ecebe7;
    width: 1px;
    height: 550px;
    text-align: center;
    a {
        color: #ecebe7;
    }
    .share-list {
        position: absolute;
        bottom: 80px;
        right: 0;
        background: $blue;
        min-width: 85px;
        padding: 39px 15px 29px;
        li {
            display: block;
            padding: 0 0 10px;
        }
    }
}
.large-text {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    padding: 63px 85px 70px 70px;
    &.dark {
        background-color: $footer-bg;
        color: #fff;
        * {
            color: #fff;
        }
    }
    a {
        font-weight: normal;
    }
    @include media('<widescreen') {
        padding: 63px 40px 70px;
    }
    @include media('<desktop') {
        font-size: 20px;
        line-height: 26px;
        padding: 34px 40px 20px;
    }
    @include media('<tablet') {
        font-size: 18px;
        line-height: 24px;
        padding: 15px 0 10px;
        &.dark {
            margin: 0 -15px;
            padding: 15px 15px 10px;
        }
    }
}
.content-box {
    font-weight: 300;
    padding: 59px 80px 50px 70px;
    a {
        font-weight: normal;
    }
    .intro-text {
        font-weight: normal;
        font-size: 22px;
        line-height: 1.27;
        margin: 0 0 35px;
        @include media('<desktop') {
            font-size: 20px;
            margin: 0 0 30px;
        }
        @include media('<tablet') {
            font-size: 18px;
            margin: 0 0 25px;
        }
    }
    &.dark {
        background-color: $footer-bg;
        color: #fff;
        * {
            color: #fff;
        }
    }
    @include media('<widescreen') {
        padding: 59px 40px 50px;
    }
    @include media('<desktop') {
        padding: 34px 40px 20px;
        height: auto !important;
    }
    @include media('<tablet') {
        padding: 15px 15px 10px;
        &.dark {
            margin: 0 -15px;
            padding: 15px 15px 10px;
        }
    }
}
.columns {
    font-size: 0;
    line-height: 0;
    letter-spacing: -4px;
    padding:20px 0 75px 70px;
    @include media('<widescreen') {
        padding:20px 0 75px 30px;
    }
    @include media('<desktop') {
        padding:20px 0 35px 37px;
    }
    @include media('<tablet') {
        padding:10px 0 10px 10px;
    }
    .col {
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 1.55;
        position: relative;
        padding: 33px 50px 40px 40px;
        &:after {
            content:'';
            position: absolute;
            left: 40px;
            bottom: 25px;
            width: 40px;
            border-top: 2px solid #a8a39e;
        }
        @include media('<desktop') {
            font-size: 16px;
            width: 50%;
        }
        @include media('<tablet') {
            font-size: 14px;
            width: 100%;
            height: auto !important;
            padding: 15px 10px 30px 40px;
            &:after {
                bottom: 20px;
            }
        }
    }
    h4 {
        position: relative;
        margin: 0 0 12px;
        [class^="icon-"] {
            position: absolute;
            left: -42px;
            top: 0;
            font-size: 34px;
        }
    }
    strong {
        font-weight: normal;
    }
    p {
        margin: 0 0 11px;
    }
}
.bottom-padding {
    padding-top: 0;
    padding-bottom:  100px;
    @include media('<desktop') {
        padding-bottom: 75px;
    }
    @include media('<tablet') {
        padding-bottom: 33px;
    }
}
.top-padding {
    padding-top: 150px;
    @include media('<widescreen') {
        padding-top: 120px;
    }
    @include media('<desktop') {
        padding-top: 50px;
    }
    @include media('<tablet') {
        padding-top: 33px;
    }
}
.single-tribe_events .tribe-events-schedule,
.tribe-events-schedule {
    margin: 0;
    padding: 0;
    background: none;
    border:none;
}