<div class="item-filter news-box july2015 ainslie">
    <img src="images/img5.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Ainslie chess competition proves everyone's a winner</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li>Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 woodmaking">
    <img src="images/img25.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Woodmaking workshops begin in November</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 cyling">
    <img src="images/img26.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Senior cyling trip goes to Goulburn</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 yoga">
    <img src="images/img27.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Yoga can help cancer sufferers deal with side effects</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 ainslie">
    <img src="images/img5.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Ainslie chess competition proves everyone's a winner</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li>Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 woodmaking">
    <img src="images/img25.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Woodmaking workshops begin in November</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 cyling">
    <img src="images/img26.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Senior cyling trip goes to Goulburn</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 yoga">
    <img src="images/img27.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Yoga can help cancer sufferers deal with side effects</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 ainslie">
    <img src="images/img5.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Ainslie chess competition proves everyone's a winner</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li>Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 woodmaking">
    <img src="images/img25.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Woodmaking workshops begin in November</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 cyling">
    <img src="images/img26.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Senior cyling trip goes to Goulburn</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 yoga">
    <img src="images/img27.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Yoga can help cancer sufferers deal with side effects</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 ainslie">
    <img src="images/img5.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Ainslie chess competition proves everyone's a winner</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li>Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="item-filter news-box july2015 woodmaking">
    <img src="images/img25.jpg" alt="">
    <div class="text-block">
        <div class="cell header">
            <h2><a href="#">Woodmaking workshops begin in November</a></h2>
            <time datetime="2015-07-29">29 July 2015</time>
        </div>
        <div class="cell body">
            <div class="dot-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
            </div>
            <hr>
            <a href="#" class="more">Read more <span class="icon-arrow-right"></span></a>
        </div>
        <div class="cell footer">
            <ul class="share-list">
                <li class="litle">Share</li>
                <li><a href="#"><span class="icon-facebook2"></span></a></li>
                <li><a href="#"><span class="icon-twitter2"></span></a></li>
                <li><a href="#"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<ul class="pagination">
    <li>
        <a href="#" class="previous">
            <span class="icon-arrow-left"></span>
        </a>
    </li>
    <li class="active"><a href="#"><span>1</span></a></li>
    <li><a href="#"><span>2</span></a></li>
    <li><a href="#"><span>3</span></a></li>
    <li>
        <a href="#" class="next">
            <span class="icon-arrow-right"></span>
        </a>
    </li>
</ul>                              