.accordion-holder {
	font-weight: 300;
	background: $dark-gray;
	.text-block {
		padding: 53px 60px 26px 70px;
		position: relative;
		&:after {
			content:'';
			position: absolute;
			left: 70px;
			width: 40px;
			bottom: 0;
			border-top: 2px solid #a39e99;
		}
		@include media('<widescreen') {
			padding: 53px 40px 26px;
			&:after {
				left: 50px;
			}
		}
		p {
			margin: 0;
		}
		h2 {
			margin: 0 0 21px;
		}
	}
	&:before {
		content:'';
		position: absolute;
		top: 0;
		bottom: -999px;
		left: 0;
		right: 0;
		display: block;
		background: $dark-gray;
	}
	@include media('<desktop') {
		&:before {
			display: none;
		}
		.text-block {
			padding: 34px 40px 20px;
			&:after {
				left: 41px;
			}
			h2 {
				margin: 0 0 15px;
			}
		}
	}
	@include media('<tablet') {
		.text-block {
			padding: 27px 15px 20px;
			&:after {
				left: 15px;
			}
		}
	}
}
.accordion {
	@extend %listreset;
	position: relative;
	z-index: 2;
	>li {
		border-top: 1px solid #f1f0ee;
		background-color: $dark-gray;
		transition:background-color all 0.3s ease;
		overflow: hidden;
		&:first-child {
			border:none;
		}
		>a {
			display: block;
			font-weight: bold;
			line-height: 26px;
			font-size: 20px;
			text-decoration: none;
			position: relative;
			padding: 23px 95px 26px 70px;
			background-color: $dark-gray;
			transition:all 0.3s ease;
			-webkit-backface-visibility: hidden;
			&:after {
				content:"\e90f";
				font-family: 'icomoon' !important;
    			speak: none;
    			font-style: normal;
    			font-weight: normal;
    			font-variant: normal;
    			text-transform: none;
    			color: $text-color;
    			position: absolute;
    			right: 69px;
    			top: 25px;
    			font-size: 16px;
    			transition:all 0.3s ease;
    			-webkit-backface-visibility: hidden;
			}
			&:hover {
				background-color: #a39e99;
				color: #fff;
				&:after {
					color: #fff;
				}
			}
			@include media('<widescreen') {
				padding: 23px 75px 26px 40px;
				&:after {
					right: 49px;
				}
			}
			@include media('<desktop') {
				padding: 18px 62px 21px 40px;
				line-height: 22px;
				font-size: 17px;
				&:after {
					right: 40px;
					top: 19px;
				}
			}
			@include media('<tablet') {
				padding: 16px 32px 18px 15px;
				&:after {
					right: 16px;
					top: 19px;
					font-size: 14px;
				}
			}
		}
		&.selected {
			background-color: #a39e99;
			>a {
				background-color: #a39e99;
				color: #fff;
				&:after {
					color: #fff;
					transform:rotate(180deg);
				}
			}
		}
	}
	.slide {
		padding: 0 70px 20px;
		color: #fff;
		line-height: 22px;
		.contact-list {
			line-height: 24px;
			font-size: 18px;
		}
		a {
			color: #fff;
		}
		@include media('<widescreen') {
			padding: 0 50px 20px;
		}
		@include media('<desktop') {
			padding: 0 41px 19px;
		}
		@include media('<tablet') {
			padding: 0 15px 17px;
			.contact-list {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}
.faq-accordion {
	@extend %listreset;
	overflow: hidden;
	padding: 0 3px 0  0;
	@include media('<desktop') {
		padding: 0;
	}
	>li {
		border-bottom: 1px solid #c5c2bd;
		&:last-child {
			border:none;
		}
		> a {
			display: block;
			position: relative;
			background: #a39e99;
			color: #f1f0ed;
			text-decoration: none;
			padding: 44px 100px 57px 70px;
			font-size: 22px;
			line-height: 28px;
			transition:all 0.3s ease;
			-webkit-backface-visibility: hidden;
			&:after {
				content:"\e90f";
				font-family: 'icomoon' !important;
    			speak: none;
    			font-style: normal;
    			font-weight: normal;
    			font-variant: normal;
    			text-transform: none;
    			position: absolute;
    			right: 69px;
    			top: 44px;
    			font-size: 16px;
    			-webkit-backface-visibility: hidden;
    			transition:transform 0.3s ease;
			}
			&:before {
				content:'';
				position: absolute;
				bottom: 30px;
				left: 70px;
				width: 40px;
				border-top: 2px solid #f1f0ed;
				transition:all 0.3s ease;
			}
			@include media('<widescreen') {
				padding: 44px 100px 57px 40px;
				&:before {
					left: 40px;
				}
			}
			@include media('<desktop') {
				padding: 35px 62px 50px 40px;
				font-size: 20px;
				line-height: 26px;
				&:after {
					right: 38px;
					top: 36px;
				}
				&:before {
					left: 40px;
					bottom: 27px;
				}
			}
			@include media('<tablet') {
				font-size: 17px;
				line-height: 22px;
				padding: 16px 42px 37px 15px;
				&:after {
					right: 17px;
					top: 18px;
					font-size: 14px;
				}
				&:before {
					left: 15px;
					bottom: 17px;
				}
			}
		}
	}
	.slide {
		font-weight: 300;
		padding: 0 100px 63px 70px;
		background: $dark-gray;
		p {
			margin: 0;
		}
		@include media('<widescreen') {
			padding: 0 100px 63px 40px;
		}
		@include media('<desktop') {
			padding: 0 60px 22px 40px;
		}
		@include media('<tablet') {
			padding:0 15px 10px; 
		}
	}
	>li:hover,
	>li.active {
		>a {
			background: $dark-gray;
			color: #1f262c;
			&:before {
				border-top: 2px solid #1f262c;
			}
		}
	}
	>li.active {
		>a:after {
			transform:rotate(180deg);
		}
	}
}