.address-details {
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	margin: 0 -49px 0 0;
	padding: 0 0 25px 29px;
	&:last-child {
		padding: 0 0 0 29px;
	}
	h5, h4 {
		font-weight: bold;
	}
	.contact-list a {
		font-weight: 300;
	}
	p {
		margin: 0 0 15px;
	}
	.contact-list {
		font-size: 18px;
	}
	hr {
		border-top: 2px solid #a39e99;
		width: 40px;
		margin: 20px 0 0;
	}
	@include media('<desktop') {
		font-size: 20px;
		line-height: 24px;
		padding: 0 0 20px;
		margin: 0;
		&:last-child {
			padding: 0 0 20px;
		}
		.contact-list {
			font-size: 16px;
			line-height: 18px;
		}
	}
	@include media('<tablet') {
		font-size: 16px;
		line-height: 20px;
		p {
			margin: 0 0 10px;
		}
		.contact-list {
			font-size: 14px;
			line-height: 16px;
		}
	}
}