.wpcf7-submit,
.btn {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	background-color: $btn-default-bg;
	border:2px solid $btn-default-border;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	min-width: 210px;
	font-weight: 600;
	padding: 14px 10px;
	border-radius: 0;
	transition: all 0.3s ease;
	height: 52px;
	letter-spacing: 1px;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $btn-default-bg;
		background: transparent;
	}
	&.large {
		display: block;
		width: 100%;
	}
	&.gray {
		background-color: #a39e99;
		border-color: #a39e99;
		color: #1f262c;
		&:hover {
			background: none;
			color: #a39e99;
		}
	}
	@include media('<tablet') {
		height: 44px;
		min-width: 178px;
		font-size: 14px;
		line-height: 17px;
		padding: 12px 7px 11px;
	}
}
.more {
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	padding: 0 48px 0 0;
	text-decoration: none;
	.icon-arrow-right {
		position: absolute;
		right: 0;
		top: -3px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border:2px solid #d6d4cf;
		overflow: hidden;
		text-align: center;
		font-size: 12px;
		line-height: 28px;
		&:before {
			display: inline-block;
			vertical-align: top;
		}
	}
	&:hover {
		text-decoration: none !important;
		.icon-arrow-right:before {
			animation: loopIconHorizontal 0.5s ease;
		}
	}
	@include media('<tablet') {
		font-size: 16px;
		line-height: 20px;
		.icon-arrow-right {
			width: 26px;
			height: 26px;
			top: -1px;
			font-size: 10px;
			line-height: 23px;
		}
	}
}
.anchor-btn {
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
	font-size: 24px;
	line-height: 26px;
	position: relative;
	padding: 0 0 0 44px;
	color: #fefefe !important;
	text-decoration: none;
	.icon-arrow-down {
		position: absolute;
		left: 0;
		top: 0px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border:2px solid #d4d1cc;
		overflow: hidden;
		font-size: 12px;
		line-height: 27px;
		color: #d4d1cc;
		text-align: center;
		padding:1px 0 0;
		&:before {
			display: inline-block;
			vertical-align: top;
		}
	}
	&:hover {
		text-decoration: none !important;
		.icon-arrow-down:before {
			animation: loopIconVertical 0.5s ease;
		}
	}
}

@-webkit-keyframes loopIconHorizontal { 
	0% { -webkit-transform: translate3d(0, 0, 0); }
  	60% { -webkit-transform: translate3d(40px, 0, 0); }
  	61% { -webkit-transform: translate3d(-40px, 0, 0); }
  	100% { -webkit-transform: translate3d(0, 0, 0); } 
}
@-webkit-keyframes loopIconVertical { 
	0% { -webkit-transform: translate3d(0, 0, 0); }
  	60% { -webkit-transform: translate3d(0, 40px, 0); }
  	61% { -webkit-transform: translate3d(0, -40px, 0); }
  	100% { -webkit-transform: translate3d(0, 0, 0); } 
}
@keyframes loopIconVertical { 
	0% { transform: translate3d(0, 0, 0); }
  	60% { transform: translate3d(0, 40px, 0); }
  	61% { transform: translate3d(0, -40px, 0); }
  	100% { transform: translate3d(0, 0, 0); } 
}
@keyframes loopIconHorizontal { 
	0% { transform: translate3d(0, 0, 0); }
  	60% { transform: translate3d(40px, 0, 0); }
  	61% { transform: translate3d(-40px, 0, 0); }
  	100% { transform: translate3d(0, 0, 0); } 
}
@-webkit-keyframes loopIconHorizontalInverse { 
	0% { -webkit-transform: translate3d(0, 0, 0); }
  	60% { -webkit-transform: translate3d(-40px, 0, 0); }
  	61% { -webkit-transform: translate3d(40px, 0, 0); }
  	100% { -webkit-transform: translate3d(0, 0, 0); } 
}
@keyframes loopIconHorizontalInverse { 
	0% { transform: translate3d(0, 0, 0); }
  	60% { transform: translate3d(-40px, 0, 0); }
  	61% { transform: translate3d(40px, 0, 0); }
  	100% { transform: translate3d(0, 0, 0); } 
}