.calendar-block {
	display: block;
	color: #ecebe7;
	font-size: 20px;
	line-height: 26px;
	overflow: hidden;
	&.large {
		overflow: visible;
		position: relative;
		@extend %clearfix;
		&:before {
			top: 100%;
			left: 0;
			right: 0;
			bottom: -400px;
			content:'';
			position: absolute;
			background: $header-bg;
		}
	}
	&.scroll-holder {
		overflow-y:auto; 
		background: $header-bg;
		position: absolute;
		top:0;
		bottom: 0;
		width: 488px;
		&:before {
			display: none;
		}
		@include media('<widescreen') {
			width: 392px;
		}
		@include media('<desktop') {
			overflow: hidden;
			background: none;
			position: static;
			width: auto;
		}
	}
	@include media('<desktop') {
		font-size: 18px;
		line-height: 24px;
		&.large {
			margin: 0 0 80px;
			&:before {
				display: none;
			}
			.date-block{
				max-width: 359px;
				&:nth-child(2) {
					float: right;
				}
			}
		}
	}
	@include media('<tablet') {
		margin: 0 0 34px;
		font-size: 16px;
		line-height: 21px;
		&.large {
			margin: 0 0 34px;
			.date-block{
				max-width: 100%;
				&:nth-child(2) {
					float: none;
				}
			}
		}
	}
	a {
		color: #ecebe7;
		text-decoration: none; 
		&:hover {
			text-decoration: underline;
		}
	}
	.date-block {
		background: $header-bg;
		display: table;
		width: 100%;
		height: 179px;
		position: relative;
		border-top: 1px solid #454a50;
		transition: background 0.3s ease;
		&:first-child {
			border:none;
		}
		&:hover {
			background: #454a50;
			.more {
				opacity: 1;
				margin: 0 0 25px;
			}
		}
		@include media('<desktop') {
			height: 172px;
			display: none;
			max-width: 360px;
			float: left;
			&:nth-child(2),
			&:first-child {
				display: table;
			}
		}
		@include media('<tablet') {
			height: 146px;
			float: none;
			max-width: 100%;
		}
	}
	.date {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 10px 5px 20px 37px;
		width: 150px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		strong {
			font-weight: normal;
			display: block;
			font-size: 80px;
			line-height: 80px;
		}
		@include media('<widescreen') {
			padding: 10px 10px 20px;
			width: 120px;
		}
		@include media('<desktop') {
			width: 130px;
			padding: 10px 5px 20px 20px;
			font-size: 16px;
			line-height: 20px;
			strong {
				font-size: 75px;
				line-height: 78px;
			}
		}
		@include media('<tablet') {
			font-size: 14px;
			line-height: 18px;
			width: 90px;
			padding: 10px 0 15px 15px;
			strong {
				font-size: 66px;
				line-height: 66px;
			}
		}
	}
	.event {
		display: table-cell;
		vertical-align: bottom;
		padding: 10px 45px 5px 13px;
		@include media('<widescreen') {
			padding-right: 25px;
		}
		@include media('<desktop') {
			padding-right: 20px;
		}
		.title {
			display: block;
			position: relative;
			padding:0 0 17px;
			margin: 0 0 15px;
			&:after {
				content:'';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 40px;
				border-bottom: 2px solid #d6d4cf;
			}
		}
		.more {
			opacity: 0;
			margin: 0;
			transition: all 0.3s ease;
		}
	}
	.all {
		display: block;
		background: #454a50;
		font-size: 22px;
		line-height: 26px;
		clear: both;
		padding: 28px 70px 31px 40px;
		.icon-arrow-right {
			top: 26px;
			right: 25px;
		}
		@include media('<widescreen') {
			padding: 20px 60px 20px 20px;
			.icon-arrow-right {
				top: 18px;
				right: 20px;
			}
		}
		@include media('<desktop') {
			font-size: 20px;
			padding: 24px 80px 25px 40px;
			.icon-arrow-right {
				top: 23px;
				right: 40px;
			}
		}
		@include media('<tablet') {
			font-size: 16px;
			line-height: 20px;
			padding: 22px 50px 22px 18px;
			.icon-arrow-right {
				top: 20px;
				right: 17px;
			}
		}
	}
}
.dark-gray .calendar-block {
	overflow: visible;
	position: relative;
	z-index: 2;
	&:after {
		content:'';
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0;
		bottom: -400px;
		background: #a39e99;
	}
	.date-block {
		background: #a39e99;
		border-top: 1px solid #b5b1ad;
	}
}
.home {
	@include media('<widescreen') {
		.calendar-block {
			.date-block {
				height: 215px;
			}
			.date-block:nth-child(3) {
				display: none;
			}
			.event {
				padding: 10px 25px 25px 13px;
			}
		}
	}
	@include media('<desktop') {
		.calendar-block {
			.date-block {
				height: 189px;
			}
			.event {
				padding: 10px 16px 5px 13px;
			}
		}
	}
	@include media('<tablet') {
		.calendar-block {
			.date-block {
				height: 146px;
			}
			.event {
				padding: 10px 20px 5px 13px;
			}
		}
	}
}