.contact-form {
	padding: 80px 100px 100px;
	.radio-holder {
		padding: 19px 0 12px;
		&:before {
			content:'';
			position: absolute;
			display: block;
			left: 5px;
			bottom: 23px;
			z-index: 2;
			width: 40px;
			border-top: 2px solid #a39e99;
		}
	}
	@include media('<widescreen') {
		padding: 80px 30px 80px;
	}
	@include media('<desktop') {
		padding: 34px 41px 40px;
		.radio-holder {
			padding: 9px 0 13px;
		}
	}
	@include media('<tablet') {
		padding: 14px 15px 23px;
		.radio-holder {
			padding: 9px 0 21px;
			&:before {
				bottom: 14px;
				left: 0;
			}
		}
	}
}
.contact-form2 {
	padding: 51px 82px 68px 70px;
	.radio-holder {
		margin: 0 -7px -19px;
		padding: 2px 0 0;
	}
	@include media('<widescreen') {
		padding: 51px 40px 68px;
	}
	@include media('<desktop') {
		padding: 51px 41px 45px;
	}
	@include media('<tablet') {
		padding: 16px 15px 20px;
		.radio-holder {
			padding: 7px 0 3px;
			margin: 0;
		}
	}
}
.form-holder {
	background-color: $gray;
	position: relative;
	@extend %clearfix;
	&:before {
		content:'';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		right: -9999px;
		display: block;
		background-color: $gray;
	}
}
.form-container {
	overflow: hidden;
}