.contact-block {
    background-color: #ecebe7;
    padding: 65px 30px 70px 83px;
    position: relative;
    z-index: 2;
    h2 {
    	margin: 0 0 18px;
    }
    address {
    	font-size: 20px;
    	line-height: 29px;
    	margin: 0 0 22px;
    }
    @include media('<widescreen') {
        padding: 65px 20px 70px 50px;
    }
    @include media('<desktop') {
        padding: 34px 30px 18px 41px;
        height: auto !important;
        @extend %clearfix;
        &:before {
            content:'';
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            background-color: $body-bg;
            left: -9999px;
        }
        address {
            float: left;
            width: 60%;
            font-size: 18px;
            line-height: 27px;
            padding: 0 80px 0 0;
            br {
                display: none;
            }
        }
        .contact-list {
            float: left;
            width: 40%;
        }
    }
    @include media('<tablet') {
        padding: 16px 15px 18px;
        &:after {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            right: -9999px;
            background-color: $body-bg;
        }
        h2 {
            margin: 0 0 12px;
        }
        address {
            float: none;
            width: 100%;
            padding: 0;
            font-size: 16px;
            line-height: 23px;
            margin: 0 0 12px;
        }
         .contact-list {
            float: none;
            width: 100%;
         }
    }
}
.contact-list {
	@extend %listreset;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	li {
		margin: 0 0 3px;
	}
    span {
        font-weight: normal;
    }
	a {
		color: $text-color;
		text-decoration: none;
	}
    @include media('<desktop') {
        font-size: 18px;
        line-height: 24px;
    }
    @include media('<tablet') {
        font-size: 15px;
        line-height: 20px;
    }
}