.content-block {
	position: relative;
	padding: 42px 85px 108px 70px;
	font-size: 22px;
	line-height: 28px;
	min-height: 482px;
	hr {
		width: 40px;
		border-top: 2px solid #a39e99;
		margin: 0 auto 24px 0;
	}
	.btn {
		position: absolute;
		bottom: 57px;
		left: 70px;
	}
	@include media('<widescreen') {
		padding: 42px 85px 108px 40px;
		.btn {
			left: 40px;
		}
	}
	@include media('<desktop') {
		min-height: 0;
		height: auto !important;
		padding: 33px 110px 52px 41px; 
		.btn {
			position: static;
		}
		hr {
			margin: 30px auto 35px 0;
		}
	}
	@include media('<tablet') {
		padding: 26px 15px 20px; 
		font-size: 18px;
		line-height: 22px;
		hr {
			margin: 0 auto 20px 0;
		}
	}
}