.cta-block {
	overflow: hidden;
	background-color: $gray;
	font-size: 22px;
	line-height: 28px;
	position: relative;
	@include media('<desktop') {
		font-size: 20px;
		line-height: 26px;
		padding: 0 0 60px;
	}
	p {
		margin: 0 0 15px;
	}
	.text-block {
		float: left;
		width: 390px;
		padding: 25px 20px 125px 40px; 
		position: relative;
		&:after {
			content:'';
			position: absolute;
			left: 40px;
			bottom: 102px;
			width: 40px;
			border: 1px solid #a39e99;
		}
		@include media('<widescreen') {
			width: 315px;
			padding: 25px 20px 125px 40px; 
			&:after {
				left: 40px;
			}
		}
		@include media('<desktop') {
			width: 100%;
			padding: 27px 186px 53px 30px; 
			&:after {
				left: 30px;
				bottom: 36px;
			}
		}
	}
	.btn {
		position: absolute;
		z-index: 3;
		left: 40px;
		bottom: 30px;
		@include media('<widescreen') {
			left: 40px;
		}
		@include media('<desktop') {
			position: relative;
			left: 0;
			margin-left: 30px;
			bottom: 0;
		}
	}
	.carousel {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			max-width: none;
		}
		@include media('<desktop') {
			display: none;
		}
	}
	.slick-dots {
		text-align: right;
		right: 15px;
	}
}