.filter-head {
	overflow: hidden;
	.heading {
		float: left;
		width: 370px;
		@include media('<widescreen') {
			width: 300px;
		}
		@include media('<desktop') {
			width: 228px;
		}
	}
	@include media('<tablet') {
		display: none;
	}
}
.filter-tabs {
	@extend %listreset;
	overflow: hidden;
	font-size: 22px;
	line-height: 30px;
	@include media('<desktop') {
		font-size: 20px;
		line-height: 28px;
	}
	@include media('<tablet') {
		display: none;
	}
	li {
		float: left;
		width: 50%;
	}
	a {
		display: block;
		position: relative;
		text-decoration: none;
		color: $text-color;
		padding: 26px 130px 25px 62px; 
		transition: color 0.3s ease;
		[class^="icon-"] {
			position: absolute;
			font-size: 17px;
			line-height: 18px;
			right: 98px;
			top: 33px;
			-webkit-backface-visibility: hidden;
			transition: transform 0.3s ease;
		}
		@include media('<widescreen') {
			[class^="icon-"] {
				right: 70px;
			}
			padding: 26px 100px 25px 50px;
		}
		@include media('<desktop') {
			padding: 22px 80px 23px 64px;
			[class^="icon-"] {
				right: 50px;
				top: 30px;
			}
		}
		&:hover {
			color: $link-color;
		}
	}
	.active a [class^="icon-"] {
		transform: rotate(180deg);
		color: $link-color;
	}
}
.filter-tab {
	padding: 41px 0 22px;
	@include media('<desktop') {
		padding: 30px 0 12px;
	}
	@include media('<tablet') {
		position: absolute;
		left: -9999px;
		height: 0;
		overflow: hidden;
	}
	.btn-list {
		@extend %listreset;
		font-size: 0;
		line-height: 0;
		letter-spacing: -4px;
		input[type="checkbox"] {
			position: absolute;
			width: 0;
			margin: 0;
			height: 0;
			overflow: hidden;
			left: -9999px;
		}
		li {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			letter-spacing: normal;
			padding: 0 18px 18px 0;
			text-transform: uppercase;
		}
		label {
			cursor: pointer;
			position: relative;
			border: 1px solid $btn-default-bg;
			text-decoration: none;
			color: $btn-default-bg;
			padding: 15px 78px 15px 37px; 
			text-align: center;
			font-size: 16px;
			line-height: 20px;
			margin: 0;
			background-color: transparent;
			transition: background-color 0.3s ease, color 0.3s ease;;
			[class^="icon-"] {
				position: absolute;
				top: 14px;
				right: 38px;
				font-size: 22px;
				line-height: 22px;
				-webkit-backface-visibility: hidden;
				transition: transform 0.3s ease;
			}
			&:hover {
				background-color: $btn-default-bg;
				color: #e3e1dc;
			}
			@include media('<desktop') {
				padding: 15px 60px 15px 35px;
				[class^="icon-"] {
					right: 27px;
				}
			}
		}
		input:checked + label {
			background-color: $btn-default-bg;
			color: #e3e1dc;
			[class^="icon-"] {
				transform: rotate(45deg);
			}
		}
	}
}
.filter-title {
	padding: 74px 0 0;
	.head {
		padding-left: 35px;
		h2 {
			font-size: 30px;
			line-height: 1.05;
			padding: 0;
		}
	}
	[class^="icon-"] {
		display: none;
	}
	@include media('<desktop') {
		padding: 0;
		overflow: hidden;
		[class^="col-"] {
			float: left;
			width: 360px;
			padding: 0;
		}
		.head {
			padding: 24px 30px 23px;
			opacity: 0.5;
			transition: opacity 0.3s ease;
			h2 {
				display: inline-block;
				vertical-align: top;
				position: relative;
				@extend .more;
				font-size: 28px;
				line-height: 32px;
				padding: 0 48px 0 0;
				[class^="icon-"] {
					display: block;
					top: 2px;
					border-color: $text-color;
				}
			}
		}
		.slick-active {
			.head {
				opacity: 1;
				h2 [class^="icon-"] {
					display: none;
				}
			}
		}
	}
	@include media('<tablet') {
		[class^="col-"] {
			width: 140px;
			width: calc(50vw - 15px);
			min-width: 140px;
		}
		.head {
			padding: 18px 15px 16px;
			h2 {
				font-size: 22px;
				line-height: 30px;
			}
		}
	}
}
@include media('<desktop', '>=tablet') {
	.filter-active .filter-content {
		.slick-slide:not(.slick-active),
		.slick-list {
			height: auto !important;
		}
		.slick-cloned.slick-slide {
			height: 450px !important;
			overflow: hidden;
		}
	}
	.paging {
		visibility: hidden;
	}
	.filter-active .paging {
		visibility: visible;
	}
}
@include media('<tablet') {
	.filter-content {
		.slick-list {
			height: auto !important;
		}
		.slick-slide:not(.slick-active) {
			height: 400px !important;
		}
	}
	.item-filter {
		display: block !important;
	}
	.date-block.item-filter {
		display: table !important;
	}
	.paging {
		visibility: hidden;
	}
	.filter-active .paging {
		visibility: visible;
	}
}
.filter-content {
	position: relative;
	min-height: 1521px;
	@include media('<widescreen') {
		min-height: 1241px;
	}
	@include media('<desktop') {
		min-height: 0;
	}
}
.filter-el {
	margin-bottom:100px;
	position: static;
	@include media('<desktop') {
		margin-bottom: 80px;
		padding: 0;
	}
	@include media('<tablet') {
		margin-bottom: 32px;
		overflow: hidden;
	}
}
#filter-form {
	.filter-box {
		position: relative;
	}
	&.loading .filter-box:after {
		content:'';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		min-height: 300px;
		background: rgba(255,255,255,0.7) url('images/preloader.svg') center center no-repeat;
	}
}
.filter-block  .jcf-scrollable-wrapper  .calendar-block {
	width: 483px !important;
	@include media('<widescreen') {
		width: 387px !important;
	}
	@include media('<desktop') {
		width: 100% !important;
	}
}
.filter-block .calendar-block {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 99px;
	width: 486px !important;
	overflow-y: auto;
	* {
		-webkit-backface-visibility: hidden;
	}
	@include media('<widescreen') {
		width: 389px !important;
	}
	@include media('<desktop') {
		margin: 0 -1px;
		bottom: 0;
		position: relative;
		width: 100% !important;
		.date-block {
			display: table;
			max-width: 359px;
			margin-left: 1px;
		}
	}
	@include media('<tablet') {
		margin: 0;
		.date-block {
			max-width: 100%;
			margin: 0;
		}
	}
}
.news-box {
	position: relative;
	width: 100%;
	color: #f1f0ed;
	overflow: hidden;
	margin-bottom: -1px;
	-webkit-backface-visibility: hidden;
	img {
		width: 101%;
		height: auto;
		max-width: none;
	}
	a {
		color: #f1f0ed;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	h2 {
		font-size: 22px;
		line-height: 28px;
		margin: 0;
		@include media('<desktop') {
			font-size: 20px;
			line-height: 26px;
		}
	}
	.no-item {
		padding: 0 35px;
		margin: 0;
		color: $text-color;
		@include media('<desktop') {
			padding: 0 30px;
		}
		@include media('<tablet') {
			padding: 0 15px;
		}
	}
	img + .text-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(30,38,45, 0);
		transition: background-color 0.5s ease;
		.header {
			background-color: rgba(163, 158, 153, 0.9);
			padding: 34px 200px 0 35px; 
			@include media('<widescreen') {
				padding: 34px 170px 0 35px;
			}
			@include media('<desktop') {
				padding: 37px 240px 0 30px;
			}
			@include media('<tablet') {
				padding: 16px 15px 0;
			}
		}
		.body {
			padding: 25px 200px 0 35px; 
			background-color: rgba(163, 158, 153, 0.9);
			@include media('<widescreen') {
				padding: 25px 170px 0 35px; 
			}
			@include media('<desktop') {
				padding: 25px 240px 10px 30px; 
			}
			&:after {
				content:'';
				position: absolute;
				left: 35px;
				bottom: -12px;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 12px solid rgba(163, 158, 153, 0.9);
				@include media('<desktop') {
					left: 30px;
				}
				@include media('<tablet') {
					left: 15px;
				}
			}
			hr {
				display: block;
				width: 40px;
			}
			.dot-box {
				margin: 0;
            	overflow: hidden;
            	height: 0;
        	    opacity: 0;
        	}
        	.more {
				max-height: 0;
				opacity: 0;
			}
		}
		.footer {
			max-height: 0;
			padding: 0;
			opacity: 0;
			background-color: rgba(30,38,45, 0);
			@include media('<tablet') {
				max-height: none;
				transition: background-color 0.5s ease;
				opacity: 1;
				padding: 0 15px 15px;
				text-align: left;
				background-color: rgba(163, 158, 153, 0.9);
			}
		}
	}
	&:hover img + .text-block {
		background-color: rgba(30,38,45, 0.7);
		.footer {
			max-height: 200px;
			padding: 55px 35px 20px;
			opacity: 1;
			@include media('<widescreen') {
				padding: 25px 35px 15px;
			}
			@include media('<desktop') {
				padding: 58px 35px 15px;
			}
			@include media('<tablet') {
				padding: 0 15px 15px;
				background-color: rgba(163, 158, 153, 1);
			}
		}
	}
	&:hover .text-block {
		height: 100%;
		.header {
			padding: 34px 200px 20px 35px; 
			background-color: rgba(163, 158, 153, 1);
			@include media('<widescreen') {
				padding: 34px 170px 10px 35px; 
			}
			@include media('<desktop') {
				padding: 37px 240px 15px 30px; 
			}
			@include media('<tablet') {
				padding: 16px 15px 0;
				time {
					padding: 0 0 10px;
				}
			}
		}
		.body {
			padding: 0 200px 40px 35px; 
			background-color: rgba(163, 158, 153, 1);
			@include media('<widescreen') {
				padding: 0 170px 30px 35px; 
			}
			@include media('<desktop') {
				padding: 0 240px 40px 30px;
			}
			@include media('<tablet') {
				padding: 0 15px 15px;
			}
			.dot-box {
				height: 112px;
				opacity: 1;
				margin: 0 0 25px;
				@include media('<widescreen') {
					height: 84px;
				}
				@include media('<desktop') {
					height: 112px;
				}
			}
			.more {
				max-height: 30px;
				opacity: 1;
				@include media('<tablet') {
					display: none;
				}
			}
			hr {
				margin: 0 0 20px;
				@include media('<desktop') {
					margin: 0 0 30px;
				}
			}
		}
		.footer {
			max-height: 200px;
			padding: 25px 35px ;
			opacity: 1;
			@include media('<widescreen') {
				padding: 25px 35px;
			}
			@include media('<desktop') {
				padding: 30px 35px;
			}
			@include media('<tablet') {
				padding: 0 15px 15px;
				background-color: rgba(163, 158, 153, 1);
			}
		}
	}
	.header {
		position: relative;
		transition: all 0.5s ease;
		padding: 34px 200px 20px 35px; 
		background-color: rgba(163, 158, 153, 1);
		@include media('<widescreen') {
			padding: 34px 170px 10px 35px; 
		}
		@include media('<desktop') {
			padding: 37px 240px 15px 30px; 
		}
		time {
			position: absolute;
			top: 38px;
			right: 40px;
		}
		@include media('<tablet') {
			padding: 16px 15px 0;
			h2 {
				line-height: 22px;
				font-size: 18px;
				position: relative;
				padding: 0 0 15px;
				margin: 0 0 15px;
				&:after {
					content:'';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 40px;
					border-top: 2px solid #f1f0ed;
				}
			}
			time {
				position: static;
				display: block;
				padding: 0 0 10px;
				transition: all 0.5s ease;
			}
		}
	}
	.body {
		font-weight: 300;
		position: relative;
		z-index: 2;
		transition: all 0.5s ease;
		line-height: 28px;
		padding: 0 200px 40px 35px; 
		background-color: rgba(163, 158, 153, 1);
		@include media('<widescreen') {
			padding: 0 170px 30px 35px; 
		}
		@include media('<desktop') {
			padding: 0 240px 40px 30px;
		}
		@include media('<tablet') {
			display: none;
		}
		
		hr {
			display: block;
			width: 40px;
			margin: 0 0 20px;
			border-top: 2px solid #f1f0ed;
			transition: margin 0.5s ease;
			@include media('<desktop') {
				margin: 0 0 30px;
			}
			@include media('<tablet') {
				display: none;
			}
		}
		.dot-box {
            overflow: hidden;
            transition: height 0.5s ease, opacity 0.5s ease, margin 0.5s ease;
			height: 112px;
			opacity: 1;
			margin: 0 0 25px;
			@include media('<widescreen') {
				height: 84px;
			}
			@include media('<desktop') {
				height: 112px;
			}
            &:before {
                content:"";
                float: left;
                width: 5px;
                height: 112px;
                @include media('<widescreen') {
                	height: 84px;
                }
                @include media('<desktop') {
                	height: 112px;
                }
            }
            &:after {
                content: "\02026"; 
                float: right; 
                position: relative;
                background: -webkit-gradient(linear, left top, right top, from(rgba(163, 158, 153, 0)), to(#9f9b96), color-stop(50%, #9f9b96));
                background: -moz-linear-gradient(to right, rgba(163, 158, 153, 0), #9f9b96 50%, #9f9b96);           
                background: -o-linear-gradient(to right, rgba(163, 158, 153, 0), #9f9b96 50%, #9f9b96);
                background: -ms-linear-gradient(to right, rgba(163, 158, 153, 0), #9f9b96 50%, #9f9b96);
                background: linear-gradient(to right, rgba(163, 158, 153, 0), #9f9b96 50%, #9f9b96);
                top: -28px; 
                left: 100%; 
                width: 2em; 
                margin-left: -2em;
                padding-right: 5px;
                text-align: right;
                box-sizing: content-box;
            }
            p {
                margin: 0;
                float: right;
                width: 100%;
                margin-left: -5px;
            }
            @include media('<tablet') {
				display: none;
            }
		}
		.more {
			overflow: hidden;
			line-height: 30px;
			max-height: 30px;
			opacity: 1;
			transition: all 0.5s ease;
			.icon-arrow-right {
				top: 0;
			}
			@include media('<tablet') {
				display: none;
			}
		}
	}
	.footer {
		text-align: center;
		overflow: hidden;
		transition: all 0.5s ease;
		background-color: rgba(30,38,45, 0.7);
		max-height: 200px;
		padding: 25px 35px ;
		opacity: 1;
		@include media('<widescreen') {
			padding: 25px 35px;
		}
		@include media('<desktop') {
			padding: 30px 35px;
		}
		@include media('<tablet') {
			max-height: none;
			transition: background-color 0.5s ease;
			opacity: 1;
			padding: 0 15px 15px;
			text-align: left;
			background-color: rgba(163, 158, 153, 1);
		}
	}
}
.share-list {
	font-size: 0;
	line-height: 0;
	@extend %listreset;
	letter-spacing: -4px;
	.stButton {
		margin: 0;
		.chicklets {
			display: block;
			padding: 0;
			background: none;
			width: 28px;
			height: 29px;
			position: relative;
			color: #fff;
			&:after {
				content:'';
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%, -36%);
				font-size: 22px;
				line-height: 28px;
				font-family: 'icomoon' !important;
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    line-height: 1;
			}
			&.facebook:after {
				content:"\e90d";
			}
			&.twitter:after {
				content:"\e90e";
			}
			&.email:after {
				content:"\e911";
			}
		}
	}
	li {
		display: inline-block;
		vertical-align: bottom;
		font-size: 22px;
		line-height: 28px;
		letter-spacing: normal;
		padding: 0 20px 0 0;
		&:last-child {
			padding: 0;
		}
		a {
			font-size: 20px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		@include media('<tablet') {
			font-size: 14px;
			padding: 0 15px 0 0;
			.stButton .chicklets {
				width: 20px;
				height: 20px;
				&:after {
					font-size: 14px;
					line-height: 20px;
				}
			}
			a {
				font-size: 16px;
			}
		}
	}
}
.heading .share-list {
	color: #ecebe7;
	padding-top: 5px;
	li {
		font-size: 18px;
		.stButton {
			.chicklets {
				height: 24px;
				&:after {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
		a {
			color: #ecebe7;
		}
	}
	@include media('<desktop') {
		padding-top: 3px;
	}
	@include media('<tablet') {
		li {
			font-size: 14px;
			.stButton .chicklets {
				width: 20px;
				height: 20px;
				&:after {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
}