form {
    fieldset {
        margin: 0 0 31px;
        @include media('<desktop') {
            margin: 0 0 25px;
        }
        @include media('<tablet') {
            margin: 0 0 13px;
        }
    }
	textarea.form-control,
    textarea,
    [type="text"], [type="email"], [type="tel"], [type="number"], .form-control {
		box-shadow: none !important;
		line-height: 20px;
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		display: block;
		font-size: 18px;
		margin: 0;
        line-height: 1.4;
        font-weight: normal;
        -webkit-appearance: none;
        @include placeholder {
            font-weight: 300;
			transition: all 0.3s ease;
			color: #e3e1dc;
		}
		&:focus {
			@include placeholder {
				color: $input-color;
			}
		}
        @include media('<desktop') {
            font-size: 17px;
        }
        @include media('<tablet') {
            height: 54px;
            font-size: 15px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    textarea.form-control,
    textarea {
		width: 100% !important;
		min-width: 100%;
		height: 198px;
        border: 1px solid #fff;
		min-height: 198px;
		padding: 12px 30px;
        &:focus {
            border: 1px solid #1f262c;
        }
        @include media('<tablet') {
            height: 193px;
            min-height: 193px;
            padding: 8px 15px;
        }
    }
    .label,
    label {
    	font-size: 20px;
        line-height: 26px;
        margin: 0 0 14px;
        font-weight: normal;
    	+ br {
    		display: none;
    	}
        @include media('<desktop') {
            font-size: 18px;
            line-height: 24px;
        }
        @include media('<tablet') {
            font-size: 16px;
            line-height: 22px;
            margin: 0 0 8px;
        }
    }
    h3 {
        color: $link-color;
        font-size: 22px;
        @include media('<desktop') {
            font-size: 20px;
        }
        @include media('<tablet') {
            font-size: 18px;
        }
    }
    .radio-holder {
    	margin: 0 -7px ;
    	padding: 19px 0 25px;
    	overflow: hidden;
    	text-align: justify;
    	letter-spacing: -4px;
    	position: relative;
    	&:after {
    		content: '';
  			width: 100%;
	  		display: inline-block;
  			vertical-align: top;
  			height: 0;
  			font-size: 0;
  			line-height: 0;
            overflow: hidden;
    	}
    	label {
    		padding: 0;
    		font-size: 18px;
    		line-height: 22px;
    		vertical-align: top;
    		margin: 0;
    		letter-spacing: 1px;
            font-weight: 300;
            @include media('<desktop') {
                font-size: 16px;
            }
    	}
    	.radio-inline {
    		display: inline-block;
    		vertical-align: top;
    		margin: 0;
    		padding: 0 7px 5px;
    		letter-spacing: normal;
    	}
        @include media('<tablet') {
            margin: 0;
            text-align: left;
            &:after {
                display: none;
            }
            .radio-inline {
                display: block;
                width: 100%;
                padding: 0 0 5px;
            }
            label {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .radio-group {
        margin: 0 0 12px;
        @include media('<tablet') {
            .radio-inline {
                display: inline-block;
                width: 50%;
            }
        }
    }
    .radio {
        white-space: nowrap;
        margin: 0 0 -7px;
        padding: 12px 0 0;
        label {
            padding: 0;
            font-size: 18px;
            line-height: 22px;
            vertical-align: top;
            margin: 0;
            letter-spacing: 1px;
            font-weight: 300;
            white-space: normal;
            @include media('<desktop') {
                font-size: 16px;
            }
        }
        @include media('<tablet') {
            label {
                max-width: 90%;
            }
        }
    }
    .form-group .radio-holder {
        text-align: left;
        padding: 12px 0 0;
        margin: 0 -7px -10px;
        &:after {
            display: none;
        }
        @include media('<tablet') {
            margin: 0 0 -8px;
        }
    }
    @include media('<tablet') {
        .form-group {
            margin: 0 0 18px;
        }
        .btn {
            display: block;
            width: 100%;
        }
    }
}
.tax-form {
    fieldset {
        margin: 0 0 64px;
        @include media('<desktop') {
            margin: 0 0 50px;
        }
        @include media('<tablet') {
            margin: 0 0 30px;
        }
    }
    .content-box {
        font-size: 16px;
        line-height: 24px;
        @include media('<desktop') {
            font-size: 14px;
            line-height: 22px;
        }
        @include media('<tablet') {
            font-size: 12px;
            line-height: 20px;
        }
    }
    h5, .h5, h4, .h4, {
        font-weight: bold;
    }
}
.result-block {
    font-size: 18px;
    line-height: 1.44;
    position: relative;
    padding: 0 0 43px;
    @include media('<desktop') {
        font-size: 16px;
    }
    @include media('<tablet') {
        font-size: 14px;
        padding: 0 0 35px;
    }
    h5, .h5, h4, .h4, {
        font-weight: normal;
        margin: 0 0 8px;
    }
    &:after {
        content:'';
        position: absolute;
        left: 0;
        bottom: 25px;
        border-top: 2px solid #a8a39e;
        width: 40px;
        @include media('<tablet') {
            bottom: 15px;
        }
    }
    &.large {
        font-size: 22px;
        padding: 0 0 59px;
        line-height: 1.36;
        @include media('<desktop') {
            font-size: 20px;
        }
        @include media('<tablet') {
            font-size: 18px;
            padding: 0 0 40px;
        }
        &:after {
            bottom: 35px;
            @include media('<tablet') {
                bottom: 20px;
            }
        }
        h4 {
            font-size: 30px;
            line-height: 33px;
            margin: 0 0 16px;
            @include media('<desktop') {
                font-size: 28px;
                line-height: 31px;
            }
            @include media('<tablet') {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
    &:last-child {
        padding: 0;
        &:after {
            display: none;
        }
    }
    dl {
        padding: 0;
        margin: 0;
        overflow: hidden;
        dt {
            float: left;
            margin: 0 4px 0 0;
            clear: left;
            line-height: inherit;
            font-weight: normal;
        }
        dd {
            line-height: inherit;
            display: block;
            overflow: hidden;
            margin: 0;
            font-weight: 300;
        }
    }
}
form .wpcf7-response-output {
    border: none !important;
    background-color: $blue;
    color: #fff;
    padding: 10px 15px  12px !important;
    line-height: 1.3;
    @include media('<tablet') {
        margin-left: 0;
        margin-right: 0;
    }
}