#main .gallery-block {
	@include media('<tablet') {
		padding: 26px 0;
	}
	.row {
		margin: 0;
		[class^="col-"] {
			padding: 0;
			overflow: hidden;
		}
	}
	.item {
		font-size: 18px;
		font-weight: 300;
		line-height: 22px;
		color: #e8e6e1;
		overflow: hidden;
		position: relative;
		&:hover {
			.holder{ 
				margin: 0 !important;
				top: 0;
				padding: 17px 41px 66px;
				@include media('<widescreen') {
					padding: 0 40px 66px;
				}
				@include media('<desktop') {
					padding: 18px 40px 66px;
				}
				>* {
					opacity: 1;
					transform: translateY(0);
				}
				h2 {
					margin: 0 0 -5px;
					@include media('<widescreen') {
						margin: 0 0 -10px;
					}
					@include media('<desktop') {
						margin: 0;
					}
				}
			}
		}
		@include media('<tablet') {
			display: block;
			width: 100%;
			border-bottom: 1px solid #858a8d;
			&:hover {
				.holder{
					padding: 18px 15px 19px;
				}
			}
		}
	}
	.image-block {
		@include media('<tablet') {
			display: none;
		}
	}
	.item  img {
		width: 100%;
		height: auto;
		max-width: none;
	}
	.item  h2 {
		font-size: 20px;
		line-height: 30px;
		font-weight: normal;
		margin: 0;
		padding: 15px 0 17px;
		z-index: 2;
		@include media('<widescreen') {
			padding: 15px 0 16px;
		}
		@include media('<desktop') {
			font-size: 20px;
			line-height: 24px;
			padding: 18px 0 20px;
		}
		@include media('<tablet') {
			padding: 0;
			line-height: 22px;
			font-size: 18px;
		}
	}
	.item  p {
		margin: 0 0 18px;
		@include media('<widescreen') {
			margin: 0 0 10px;
			display: none;
		}
	}
	.item  a {
		color: #e8e6e1;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.item  ul {
		@extend %listreset;
		margin: 0 0 20px;
		li {
			padding: 0 0 6px 12px;
			&:before {
				top: 11px;
				background: #e8e6e1;
			}
			@include media('<widescreen') {
				padding: 0 0 0 12px;
				line-height: 20px;
			}
		}
		@include media('<widescreen') {
			margin: 0 0 10px;
		}
		@include media('<desktop') {
			display: none;
		}
	}
	.bottom-block {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px 41px 27px;
		font-weight: normal;
		@include media('<widescreen') {
			padding: 15px 20px 27px 40px;
		}
		@include media('<desktop') {
			padding: 15px 30px 30px;
		}
		a {
			color: #a39e99;
		}
		ul {
			overflow: hidden;
			margin: 0 !important;
			@include media('<desktop') {
				font-size: 18px;
			}
			li {
				margin: 0 !important;
				float: left;
				width: 50%;
				padding: 0 !important;
				&:before {
					display: none;
				}
			}
		}
		@include media('<tablet') {
			display: none;
		}
	}
	.holder{
		position: absolute;
		top: 100%;
		left: 0;
		right: -1px;
		height: 100%;
		background-color: rgba(30, 38, 45, 0.9);
		margin: 0;
		padding: 0 41px 66px;
		transition: top 0.5s ease, margin 0.5s ease, padding 0.5s ease;
		@include media('<widescreen') {
			padding: 0 40px 66px;
		}
		>* {
			opacity: 0;
			transform: translateY(70px);
			transition: opacity 0.5s ease 0.1s, transform 0.5s ease 0.1s;
		}
		h2 {
			opacity: 1;
			transform: translateY(0);
		}
		&:before {
			content:'';
			position: absolute;
			top: -12px;
			left: 42px;
			width: 0;
			height: 0;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
			border-bottom: 12px solid rgba(30, 38, 45, 0.9);
			@include media('<widescreen') {
				left: 30px;
			}
		}
		@include media('<tablet') {
			position: static;
			margin: 0 !important;
			padding: 18px 15px 19px;
			*:not(h2) {
				display: none;
			}
			h2 a {
				display: block;
			}
			&:before {
				display: none;
			}
		}
		hr {
			width: 40px;
			border-top: 2px solid #e8e6e1;
			margin: 0 0 20px;
			@include media('<widescreen') {
				margin: 0 0 10px;
			}
		}
	}
}
.home #main .gallery-block {
	@include media('<desktop') {
		padding: 0 0 80px;
		.item .holder {
			padding: 0 30px 66px;
		}
		.item:hover .holder {
			padding: 0 30px 66px;
		}
	}
	@include media('<tablet') {
		.item:hover .holder,
		.item .holder {
			padding: 18px 15px 19px;
		}
	}
	.item  h2 {
		font-size: 26px;
		padding: 20px 0 22px;
		@include media('<widescreen') {
			padding: 15px 0 16px;
		}
		@include media('<desktop') {
			font-size: 24px;
			line-height: 30px;
			padding: 18px 0 20px;
		}
		@include media('<tablet') {
			padding: 0;
			line-height: 25px;
			font-size: 20px;
		}
	}
	.item  ul {
		font-size: 20px;
		margin: 0 !important;
		display: block;
		@include media('<tablet') {
			display: none;
		}
		li {
			margin: 0 0 14px;
			padding: 0 !important;
			&:before {
				display: none;
			}
			@include media('<widescreen') {
				margin: 0 0 10px;
			}
			@include media('<desktop') {
				margin: 0 0 12px;
			}
		}
	}
	.image-block {
		@include media('<desktop') {
			.image-holder {
				margin: 0 -200px;
				text-align: center;
				height: 416px;
			}
			img {
				height: 415px !important;
				width: auto !important;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}