.home-carousel {
	overflow: hidden;
	.slide {
		position: relative;
		z-index: 2;
		height: 700px;
		min-height: 530px;
		font-size: 20px;
		line-height: 26px;
		overflow: hidden;
		&.animate {
			.bg-stretch {
				-webkit-animation-name: zoomOut;
  				animation-name: zoomOut;
  				-webkit-animation-duration: 15s;
				animation-duration: 15s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
		}
	}
	h1 {
		line-height: 56px;
	    font-size: 54px;
	    margin: 0 0 34px;
	    color: $blue;
	    @include media('<desktop') {
	        font-size: 42px;
	        line-height: 45px;
	        margin: 0 0 26px;
	    }
	    @include media('<tablet') {
	        line-height: 38px;
	        font-size: 34px;
	        margin: 0 0 43px;
	    }
	}
	.container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 570px;
		margin-left: -600px;
		display: table;
		height: 700px;
		min-height: 530px;
	}
	.text-block {
		display: table-cell;
		vertical-align: middle;
		min-height: 530px;
		padding: 15px 0;
	}
	p {
		margin: 0 0 41px;
	}
	@include media('<widescreen') {
		.slide {
			height: 700px;
		}
		.container {
			margin-left: -485px;
			height: 700px;
		}
	}
	@include media('<desktop') {
		.slide ,
		.container ,
		.text-block {
			min-height: 450px;
		}
		.container {
			height: 556px;
		}
		.slide {
			font-size: 18px;
			line-height: 24px;
			height: 556px;
		}
		.container {
			margin-left: -375px;
			width: 460px;
		}
		p {
			margin: 0 0 34px;
		}
	}
	@include media('<tablet') {
		.slide {
			height: 395px;
			min-height: 0;
		}
		.container {
			height: 395px;
			min-height: 0;
			display: block;
			width: 100%;
			left: 0;
			margin: 0;
		}
		.text-block {
			display: block;
			height: auto;
			min-height: 0;
			width: 75%;
			padding: 26px 0 15px;
		}
		p {
			display: none;
		}
	}
}
@-webkit-keyframes zoomOut {
  	from {
	    -webkit-transform: scale3d(1.3, 1.3, 1.3);
	    transform: scale3d(1.3, 1.3, 1.3);
  	}
  	to {
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
  	}
}
@keyframes zoomOut {
  	from {
	    -webkit-transform: scale3d(1.3, 1.3, 1.3);
	    transform: scale3d(1.3, 1.3, 1.3);
  	}
  	to {
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
  	}
}