.location-block {
	position: relative;
	overflow: hidden;
	padding: 54px 0 96px;
	&.single {
		padding: 0 0 100px;
		overflow: hidden;
		@include media('<desktop') {
			padding: 0 0 78px;
			#map {
				height: 266px;
			}
		}
		@include media('<tablet') {
			padding: 0 0 33px;
		}
		.address-holder {
			float: left;
			width: 33.33%;
			padding: 50px 70px 0; 
			@include media('<widescreen') {
				padding: 50px 40px 0; 
			}
			@include media('<desktop') {
				padding: 63px 40px 0;
			}
			@include media('<tablet') {
				float: none;
				width: 100%;
				padding: 25px 15px 0;
			}
		}
		.map-holder {
			overflow: hidden;
			&:after {
				display: none;
			}
		}
		.address-box {
			width: 100%;
			display: block;
			padding: 0 0 40px;
			&:after {
				content:'';
				position: absolute;
				bottom: 15px;
				width: 40px;
				left: 0;
				border-top: 2px solid #a8a49f;
				@include media('<tablet') {
					bottom: 24px;
				}
			}
			&.active {
				h3 a {
					text-decoration: none;
				}
			}
		}
		.contact-list {
			font-weight: normal;
		}
	}
	@include media('<desktop') {
		padding: 35px 0 80px;
	}
	@include media('<tablet') {
		padding: 29px 0 34px;
	}
	h2 {
		color: $text-color;
		margin: 0 70px 28px;
		@include media('<desktop') {
			margin: 0 0 20px;
		}
		@include media('<tablet') {
			margin: 0 0 13px;
		}
	}
	.address-holder {
		font-size: 0;
		line-height: 0;
		padding: 0 0 34px;
		letter-spacing: -4px;
		@include media('<desktop') {
			padding: 0 0 22px;
		}
	}
	.address-box {
		display: inline-block;
		vertical-align: top;
		letter-spacing: normal;
		font-size: 20px;
		line-height: 26px;
		position: relative;
		width: 33.33%;
		padding: 0 55px 20px 70px;
		&.active {
			h3 a {
				text-decoration: underline;
			}
		}
		@include media('<desktop') {
			padding: 0 20px 18px 0;
			font-size: 18px;
			line-height: 24px;
		}
		@include media('<tablet') {
			display: block;
			width: 100%;
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 9px;
		}
	}
	h3 {
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 11px;
		@include media('<desktop') {
			font-size: 18px;
			line-height: 24px;
		}
		@include media('<tablet') {
			font-size: 16px;
			line-height: 20px;
			margin: 0 0 3px;
		}
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	address {
		font-style: normal;
		line-height: 26px;
		margin: 0 0 16px;
		@include media('<desktop') {
			line-height: 24px;
			margin: 0 0 15px;
		}
		@include media('<tablet') {
			line-height: 20px;
			margin: 0 0 5px;
		}
	}
	.contact-list {
		font-size: 18px;
		line-height: 22px;
		@include media('<desktop') {
			font-size: 16px;
		}
		@include media('<tablet') {
			font-size: 14px;
			line-height: 20px;
		}
	}
	.map-holder{
		position: relative;
		z-index: 2;
		&:after {
			top: 0;
			position: absolute;
			bottom: -96px;
			content:'';
			left: -9999px;
			right: -9999px;
			background-color: $dark-gray;
			@include media('<desktop') {
				bottom: -80px;
			}
			@include media('<tablet') {
				bottom: -34px;
			}
		}
	}
	#map {
		display: block;
		position: relative;
		height: 430px;
		z-index: 3;
		@include media('<tablet') {
			height: 260px;
		}
	}
}