.open-close {
	color: #e8e6e1;
	position: relative;
	z-index: 2;
	a {
		color: #e8e6e1;
		text-decoration: none;
	}
	.selected {
		background: $blue;
		position: relative;
		padding: 24px 250px 27px 70px;
    	overflow: hidden;
    	@include media('<widescreen') {
    		padding: 24px 220px 27px 40px;
    	}
    	@include media('<desktop') {
    		padding: 20px 220px 22px 40px;
    	}
    	@include media('<tablet') {
    		padding: 16px 55px 20px 15px;
    	}
    	.value {
    		color: #fff;
        	font-size: 30px;
        	line-height: 34px;
        	@include media('<desktop') {
        		font-size: 28px;
            	line-height: 32px;
        	}
        	@include media('<tablet') {
        		font-size: 24px;
            	line-height: 26px;
        	}
    	}
    	.opener {
    		position: absolute;
    		right: 74px;
    		top: 26px;
    		color: #907abc;
    		font-size: 18px;
    		line-height: 30px;
    		transition:color 0.3s ease;
    		[class^="icon-"] {
    			font-size: 30px;
    			display: inline-block;
    			vertical-align: middle;
    			margin: -2px 0 2px 8px;
    		}
    		&:hover {
    			color: #e8e6e1;
    			text-decoration: none;
    		}
    		@include media('<widescreen') {
    			right: 44px;
    		}
    		@include media('<desktop') {
    			top: 22px;
    			right: 40px;
    		}
    		@include media('<tablet') {
    			font-size: 0;
    			line-height: 0;
    			left: 0;
    			top: 0;
    			right: 0;
    			bottom: 0;
    			[class^="icon-"] {
    				font-size: 28px;
    				line-height: 30px;
    				margin: 0;
    				position: absolute;
    				right: 15px;
    				top: 16px;
    			}
    		}
    	}
	}
	.dropdown {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background: #907abc;
		font-size: 25px;
		line-height: 30px;
		padding: 25px 70px 16px;
		overflow: hidden;
		@include media('<widescreen') {
			padding: 25px 40px 16px;
		}
		@include media('<desktop') {
			padding: 20px 40px 8px;
		}
		@include media('<tablet') {
			padding: 14px 15px 8px;
			font-size: 20px;
			line-height: 24px;
		}
		ul {
			margin: 0 !important;
			li {
				padding: 0 0 20px !important;
				&:before {
					display: none;
				}
				&.active {
					position: absolute 	!important;
					left:-9999px;
				}
				@include media('<tablet') {
					padding: 0 0 12px !important;
				}
			}
		}
		a:hover {
			text-decoration: underline;
		}
	}
}