.pagination {
	@extend %listreset;
	padding: 47px 70px 42px;
	position: relative;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	text-align: center;
	@include media('<desktop') {
		padding: 36px 70px 35px;
	}
	@include media('<tablet') {
		padding: 30px 35px 27px;
	}
	li {
		font-size: 22px;
		letter-spacing: normal;
		line-height: 30px;
		display: inline-block;
		vertical-align: top;
		width: 80px;
		&:first-child,
		&:last-child {
			width: 0;
		}
		&.disabled {
			pointer-events:none;
		}
		@include media('<widescreen') {
			width: 70px;
		}
		@include media('<desktop') {
			width: 51px;
			font-size: 20px;
			line-height: 28px;
		}
		@include media('<tablet') {
			font-size: 18px;
			line-height: 26px;
			width: 35px;
		}
		a {
			text-decoration: none;
			color: $text-color;
			span {
				color: #a39e99;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		&.active a span{
			color: $text-color;
		}
		&.active a {
			cursor: default;
			text-decoration: none;
			pointer-events:none;
		}
	}
	.previous {
		position: absolute;
		left: 0;
		top: 45px;
		text-decoration: none;
		color: $text-color;
		width: 30px;
		height: 30px;
		border: 2px solid $text-color;
		overflow: hidden;
		text-align: center;
		border-radius: 50%;
		font-size: 12px;
		line-height: 25px;
		.icon-arrow-left {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			color: $text-color;
		}
		&:hover {
			text-decoration: none !important;
			.icon-arrow-left {
				text-decoration: none;
				animation: loopIconHorizontalInverse 0.5s ease;
			}
		}
		@include media('<desktop') {
			top: 35px;
		}
		@include media('<tablet') {
			width: 26px;
			height: 26px;
			top: 31px;
			font-size: 10px;
			line-height: 20px;
		}
	}
	.next {
		position: absolute;
		right: 0;
		top: 45px;
		text-decoration: none;
		color: $text-color;
		width: 30px;
		height: 30px;
		border: 2px solid $text-color;
		overflow: hidden;
		text-align: center;
		border-radius: 50%;
		font-size: 12px;
		line-height: 25px;
		.icon-arrow-right {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			color: $text-color;
		}
		&:hover {
			text-decoration: none !important;
			.icon-arrow-right {
				text-decoration: none;
				animation: loopIconHorizontal 0.5s ease;
			}
		}
		@include media('<desktop') {
			top: 35px;
		}
		@include media('<tablet') {
			width: 26px;
			height: 26px;
			top: 31px;
			font-size: 10px;
			line-height: 20px;
		}
	}
}