.posts-block {
	overflow: hidden;
	.post-item {
		overflow: hidden;
		background-color: #a39e99;
		color: #d6d4cf;
		overflow: hidden;
		font-size: 16px;
		line-height: 20px;
		@include media('<desktop') {
			display: none;
			&:first-child {
				display: block;
			}
		}
		.image-block {
			float: left;
			width: 50%;
			position: relative;
			&:after {
				content:'';
				position: absolute;
				right: 0;
				top: 40px;
				width: 0;
				height: 0;
				border-top: 10px solid transparent;
				border-right: 12px solid #a39e99;
				border-bottom: 10px solid transparent;
			}
			@include media('<desktop') {
				float: none;
				width: 100%;
				&:after {
					top: auto;
					bottom: 0;
					right: auto;
					left: 27px;
					border-top: 0 solid transparent;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 12px solid #a39e99;
				}
			}
			@include media('<tablet') {
				&:after {
					left: 22px;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
			max-width: none;
		}
		&:nth-child(even) {
			.image-block {
				float: right;
				&:after {
					right: auto;
					left: 0;
					border-top: 10px solid transparent;
					border-right: 0 solid transparent;
					border-left: 12px solid #a39e99;
					border-bottom: 10px solid transparent;
				}
			}
		}
		.text-block {
			overflow: hidden;
			padding: 24px 48px 24px;
			@include media('<widescreen') {
				padding: 15px 20px 15px;
			}
			@include media('<desktop') {
				padding: 26px 30px 15px;
				min-height: 130px;
			}
			@include media('<tablet') {
				padding: 17px 16px  24px;
			}
		}
		a {
			color: #d6d4cf;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		h2 {
			font-size: 22px;
			line-height: 28px;
			margin: 0 0 19px;
			@include media('<widescreen') {
				line-height: 26px;
				margin: 0  0 12px;
			}
			@include media('<desktop') { 
				font-size: 20px;
			}
			@include media('<tablet') {
				font-size: 18px;
				line-height: 22px;
			}
		}
		.head {
			position: relative;
			padding: 0 0 28px;
			margin: 0 0 20px;
			@include media('<widescreen') {
				margin: 0 0 15px;
				padding: 0 0 15px;
			}
			@include media('<desktop') {
				margin: 0 0 10px;
			}
			@include media('<tablet') {
				margin: 0;
				padding: 0 0 11px;
			}
			&:after {
				content:'';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 40px;
				border-bottom: 2px solid #d6d4cf;
			}
			time {
				display: block;
				@include media('<desktop') {
					display: none;
				}
			}
		}
		.more {
			opacity: 0;
			transform: translateY(30px);
			transition: all 0.4s ease;
			@include media('<desktop') {
				display: none;
			}
		}
		&:hover {
			.more {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}