.promo-text {
	overflow: hidden;
	position: relative;
	&:before {
		content:'';
		position: absolute;
		left: 0;
		right: 50%;
		background-color: $footer-bg;
		bottom: 0;
		top: 0;
		z-index: 0;
		margin-right: -585px;
		@include media('<widescreen') {
			margin-right: -469px;
		}
		@include media('<desktop') {
			margin-right: -360px;
		}
	}
	.text-block {
		padding: 64px 40px 75px 70px;
		background-color: $footer-bg;
		color: #fffefe;
		font-weight: 300;
		font-size: 22px;
		line-height: 28px;
		position: relative;
		z-index: 1;
		@extend %clearfix;
		a {
			color: #fffefe;
			font-weight: normal;
		}
		.intro-text {
			font-weight: normal;
			font-size: 26px;
			line-height: 32px;
		}
		h2 {
			color: #fffefe;
			margin: 0 0 30px;
			@include media('<tablet') {
				margin: 0 0 18px;
			}
		}
		hr {
			width: 40px;
			border-top: 2px solid #fffefe;;
			margin: 0 0 20px;
			@include media('<tablet') {
				margin: 0 0 15px;
			}
		}
		time {
			display: block;
			font-size: 18px;
			@include media('<desktop') {
				font-size: 16px;
			}
			@include media('<tablet') {
				font-size: 14px;
			}
		}
		.col-md-6 {
			padding: 0;
		}
		.content-box {
			padding: 0;
			height: auto !important;
		}
	}
	.add-block {
		background-color: $gray;
		padding: 68px 30px 100px 71px;
		position: relative;
	}
	.anchor-btn {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #a39e99;
		padding: 29px 30px 30px 120px;
		.icon-arrow-down{
			top: 26px;
			left: 76px;
		}
		@include media('<widescreen') {
			padding: 29px 30px 30px 80px;
			.icon-arrow-down{
				left: 38px;
			}
		}
	}
	&.gray {
		background: $gray;
		&:before {
			display: none;
		}
		[class^="col-"] {
			position: static;
		}
		.text-block {
			background-color: #e3e1dc;
			color: $text-color;
			font-size: 18px;
			line-height: 29px;
			padding: 54px 40px 74px 70px;
		}
	}
	@include media('<widescreen') {
		.text-block {
			padding: 64px 50px 80px 0;
		}
		.add-block {
			padding: 68px 30px 100px 30px;
		}
		&.gray {
			.text-block {
				padding: 54px 40px 74px;
			}
		}
	}
	@include media('<desktop') {
		.add-block {
			display: none;
		}
		.text-block {
			float: none;
			height: auto !important;
			width: 100%;
			padding: 54px 120px 42px 0;
			font-size: 20px;
			line-height: 26px;
			.intro-text {
				font-size: 24px;
				line-height: 30px;
			}
		}
		&.gray {
			.text-block {
				font-size: 16px;
				line-height: 27px;
				padding: 34px 120px 19px 40px;
			}
			.jcf-scrollable-wrapper {
				height: auto !important;
			}
		}
	}
	@include media('<tablet') {
		&:before {
			right: 0;
		}
		.text-block {
			font-size: 17px;
			line-height: 22px;
			padding: 28px 0 22px;
			.intro-text {
				line-height: 26px;
				font-size: 20px;
			}
		}
		&.gray {
			.text-block {
				font-size: 14px;
				line-height: 23px;
				padding: 15px 15px 4px;
			}
		}
	}
}