.promo-image {
	position: relative;
	z-index: 2;
	height: 421px;
	overflow: hidden;
	&.small {
		height: 208px;
		.container {
			height: 208px;
			width: 715px;
		}
		.text-block {
			padding: 46px 0;
		}
		@include media('<desktop') {
			height: 160px;
			.container {
				height: 160px;
			}
			.text-block {
				padding: 36px 0;
			}
		}
		@include media('<tablet') {
			height: auto;
			.container {
				height: 83px;
				width: 100%;
			}
			.text-block {
				padding: 7px 15px 10px;
			}
		}
	}
	.container {
		position: absolute;
		left: 50%;
		width: 570px;
		top: 0;
		display: table;
		height: 421px;
		margin-left: -520px;
		padding: 0;
	}
	.text-block {
		display: table-cell;
		vertical-align: bottom;
		padding: 119px 0;
	}
	h1 {
		margin: 0;
	}
	@include media('<widescreen') {
		.container {
			margin-left: -470px;
		}
	}
	@include media('<desktop') {
		height: 335px;
		.container {
			height: 335px;
			margin-left: -362px;
			width: 400px;
		}
		.text-block {
			padding: 90px 0;
		}
	}
	@include media('<tablet') {
		height: auto;
		.bg-stretch {
			right: -140%;
		}
		.container {
			position: relative;
			left: 0;
			width: 100%;
			margin: 0;
			height: 117px;
		}
		.text-block {
			padding: 15px 15px 24px;
			vertical-align: middle;
		}
	}
}