.quote-block {
	padding: 74px 0 70px 99px;
	position: relative;
	background: $body-bg;
	font-weight: normal;
	@extend %clearfix;
	blockquote:before, blockquote:after,
	q:before, q:after {
	    content:'';
	    content:none;
	}
	blockquote {
		padding: 0;
		margin: 0;
		font-size: 26px;
		color: $link-color;
		border:none;
		line-height: 32px;
		quotes:none;
		q {
			display: block;
			margin: 0 0 17px;
			position: relative;
			quotes:none;
			&:before {
				content:'';
				width: 51px;
				height: 38px;
				position: absolute;
				left: -62px;
				top: -9px;
				background: url('images/quote.png') no-repeat;
			}
		}
		cite {
			display: block;
			float: right;
			position: relative;
			font-weight: bold;
			color: #a39e99;
			font-size: 20px;
			line-height: 26px;
			font-style: normal;
			padding: 0 0 0 84px;
			&:before {
				content:'—';
				position: absolute;
				left: 64px;
				top: 0;
			}
		}
	}
	@include media('<widescreen') {
		padding: 74px 0 30px 70px;
	}
	@include media('<desktop') {
		display: none;
	}
}