.scroll-block {
  	-webkit-user-select: none;
  	-moz-user-select: moz-none;
  	-ms-user-select: none;
  	user-select: none;
  	height: 119px;
  	overflow: hidden;
	.scroll-holder {
		overflow-x: auto;
		padding: 44px 0 45px;
		height: auto !important;
	  	&.non-active {
	  		cursor: default !important;
	  	}
	}
	.tools-list {
		text-align: right;
		font-size: 0;
		line-height: 0;
		letter-spacing: -4px;
		white-space: nowrap;
		li {
			padding: 0 15px 0 50px;
			margin-left: 35px;
			display: inline-block;
			vertical-align: middle;
			letter-spacing: normal;
			&:first-child {
				margin: 0;
			}
		}
	}
	@include media('<desktop') {
		height: auto;
		.tools-list {
			li {
				padding: 0 15px 0 43px;
				&:last-child {
					padding: 0 25px 0 43px;
				}
			}
			[class^="icon-"] {
				font-size: 24px;
				top: 5px;
			}
		}
		.scroll-holder {
			padding: 32px 0 32px;
		}
	}
	@include media('<tablet') {
		.tools-list {
			li {
				font-size: 20px;
				line-height: 24px;
				padding: 0 15px 0 36px;
				margin-left: 28px;
				&:last-child {
					padding: 0 15px 0 36px;
				}
			}
			[class^="icon-"] {
				font-size: 20px;
				top: 2px;
			}
		}
		.scroll-holder {
			padding: 26px 0 27px;
		}
	}
}