.single-vacancies {
	position: relative;
	z-index: 2;
	background: #a39e99;
	padding: 45px 185px 42px 70px;
	color: #ecebe7;
	font-weight: 300;
	border-bottom: 1px solid #c5c2bd;
	transition: color 0.3s ease, background 0.3s ease;
	@include media('<widescreen') {
		padding: 45px 160px 42px 40px;
	}
	@include media('<desktop') {
		padding: 37px 150px 42px 40px;
	}
	@include media('<tablet') {
		padding: 23px 15px;
	}
	&:last-child {
		border:none;
	}
	a {
		color: #ecebe7;
		transition: color 0.3s ease;
	}
	h4 {
		color: #ecebe7;
		transition: color 0.3s ease;
		a {
			color: #ecebe7;
			transition: color 0.3s ease;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.more .icon-arrow-right {
		transition: border 0.3s ease;
	}
	hr {
		border-top: 2px solid #d6d4cf;
		width: 40px;
		margin: 0 0 22px;
		transition: border 0.3s ease;
	}
	&:hover {
		background: $dark-gray;
		color: $text-color;
		h4 a,
		a ,
		h4 {
			color: $text-color;
		}
		.more .icon-arrow-right {
			border-color: $text-color;
		}
		hr {
			border-top: 2px solid $text-color;
		}
	}
}