.slider {
	position: relative;
	color: #a39e99;
	line-height: 1.2;
	img {
		width: 100%;
		height: auto;
		max-width: none;
	}
	.slide .fancybox {
		display: block;
		position: relative;
		&:before {
			content: '';
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    width: 0;
		    height: 0;
		    margin: -21px 0 0 -13px;
		    border-top: 22px solid transparent;
		    border-left: 34px solid #fff;
		    border-bottom: 22px solid transparent;
		}
		&:after {
			width: 80px;
		    height: 80px;
		    border-radius: 50%;
		    content: '';
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    margin: -40px 0 0 -40px;
		    border: 2px solid #fff;
		}
	}
	.quote-block {
		position: absolute;
		top: 0;
		left: 0;
		background: none;
		width: 55%;
		padding: 15% 0 0 13%;
		@include media('<widescreen') {
			padding: 10% 0 0 10%;
		}
		blockquote {
			font-size: 36px;
			line-height: 48px;
		}
		q {
			margin: 0 0 22px;  
		}
		cite {
			float: right;
		}
		q:before {
			width: 68px;
			height: 52px;
			left: -82px;
			background-size: 100% auto;
		}
		@include media('<desktop') {
			display: block;
			padding: 15% 0 0 11%;
			blockquote {
				font-size: 25px;
				line-height: 32px;
			}
			q:before {
				width: 48px;
				height: 38px;
				left: -62px;
			}
			cite {
				padding-right: 0;
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
	.caption {
		display: table;
		width: 680px;
		height: 85px;
		margin: 0;
		p {
			margin: 0;
			display: table-cell;
			vertical-align: middle;
			padding: 7px 70px;
		}
		@include media('<widescreen') {
			width: 471px;
			p {
				padding: 7px 30px 7px 40px;
			}
		}
		@include media('<desktop') {
			width: 360px;
			height: 75px;
			font-size: 16px;
			p {
				padding: 5px 5px 5px 0;
			}
		}
	}
	.slick-next,
	.slick-prev {
		position: absolute;
		bottom: 27px;
		z-index: 2;
		font-size: 0;
		line-height: 0;
		margin: 0;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border:2px solid #d6d4cf;
		overflow: hidden;
		text-align: center;
		padding: 1px 0 0;
		background: none;
		&:before {
			content:"\e908";
			font-family: 'icomoon' !important;
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
			font-size: 12px;
			line-height: 20px;
			color: #d6d4cf;
			display: inline-block;
			vertical-align: middle;
		}
		&:hover:before {
			animation: loopIconHorizontal 0.5s ease;
		}
	}
	.slick-next {
		right: 30px;
		@include media('<desktop') {
			right: 20px;
			bottom: 22px;
		}
	}
	.slick-prev {
		right: 428px;
		padding: 0 0 1px;
		transform: rotate(180deg);
		@include media('<widescreen') {
			right: 335px;
		}
		@include media('<desktop') {
			right: 311px;
			bottom: 22px;
		}
	}
	.slick-dots {
		text-align: right;
		left: auto;
		right: 24px;
		bottom: 115px;
		@include media('<desktop') {
			bottom: 95px;
			right: 14px;
		}
	}

}
.pagingInfo {
	width: 488px;
	height: 85px;
	background-color: #a39e99;
	float: right;
	color: #f1f0ed;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	padding: 29px 70px;
	margin: -85px 0 0;
	@include media('<widescreen') {
		width: 393px;
	}
	@include media('<desktop') {
		margin: -75px 0 0;
		width: 360px;
		height: 75px;
		font-size: 20px;
		line-height: 24px;
		padding: 26px 60px;
	}
}
.double-carousel {
	position: relative;
	&:before {
		content:'';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: $dark-gray;
		bottom: -400px;
		@include media('<desktop') {
			display: none;
		}
	}
	@include media('<desktop') {
		height: auto !important;
	}
	.nav-tabs {
		background: $blue;
		color: #f8f7f6;
		overflow: hidden;
		padding: 0 15px 23px 70px;
		margin: 0;
		display: block;
		@include media('<widescreen') {
			padding: 0 10px 23px 5px;
		}
		@include media('<desktop') {
			padding: 0 10px 19px 5px;
		}
		@include media('<tablet') {
			padding: 15px 0;
		}
		li {
			padding: 24px 48px 0 0;
			float: left;
			display: block;
			&:last-child {
				padding-right: 0;
			}
			a {
				transition: all 0.3s ease;
				color: #fff;
				opacity: 0.6;
				@include media('<widescreen') {
					font-size: 28px;
				}
			}
			a:hover,
			&.active a {
				color: #fff !important;
				text-decoration: none !important;
				opacity: 1;
			}
			@include media('<widescreen') {
				padding: 24px 0 0 30px;
			}
			@include media('<desktop') {
				padding: 19px 0 0 30px;
			}
			@include media('<tablet') {
				float: none;
				padding: 3px 15px;
				min-width: 0;
				white-space: normal;
				a {
					font-size: 24px;
					line-height: 26px;
				}
			}
		}
	}
	.tab-content {
		.tab-pane {
			position: relative;
			padding: 54px 70px 70px;
			font-weight: 300;
			min-height: 350px;
			@include media('<widescreen') {
				padding: 54px 35px 70px;
			}
			@include media('<desktop') {
				padding: 32px 70px 60px 35px;
				min-height: 250px;
			}
			@include media('<tablet') {
				min-height: 0;
				padding: 20px 15px 20px;
				ul {
					margin: 0 !important;
				}
			}
			.col-md-6 {
				padding: 0 15px 0 0;
				@include media('<desktop') {
					padding: 0;
				}
			}
			@extend %clearfix;
			.content-box {
				padding: 0;
				height: auto !important;
			}
		}
		.bottom-text {
			position: absolute;
			bottom: 10px;
			left: 70px;
			right: 70px;
			font-weight: normal;
			height: 63px;
			p {
				margin: 0;
			}
			@include media('<widescreen') {
				left: 35px;
				right: 35px;
			}
			@include media('<desktop') {
				height: 60px;
				bottom: 5px;
			}
			@include media('<tablet') {
				position: static;
				height: auto;
				padding: 20px 0 0;
			}
		}
	}
}