.social-carousel {
	position: relative;
	z-index: 2;
	min-height: 300px;
	&.loading {
		background: transparent url("images/preloader.svg") center center no-repeat;
	}
	.slick-track {
		background-color: #1b2127;
	}
	.slick-list {
		overflow: visible;
		background-color: #1b2127;
		&:before {
			content:'';
			position: absolute;
			left: -9999px;
			right: 100%;
			top: 0;
			bottom: 0;
			z-index: 2;
			background: rgba(255,255,255, 0.8);
		}
		&:after {
			content:'';
			position: absolute;
			right: -9999px;
			left: 100%;
			top: 0;
			bottom: 0;
			z-index: 2;
			background: rgba(255,255,255, 0.8);
		}
	}
	.slide {
		overflow: hidden;
		background-color: #1b2127;
		color: #a39e99;
		line-height: 22px;
		min-height: 300px;
		position: relative;
		float: left;
		a {
			color: #f1f0ed;
			text-decoration: none;
			transition: all 0.3s ease;
			&:hover {
				text-decoration: underline;
			}
		}
		p {
			margin: 0;
		}
		aside {
			position: absolute;
			bottom: 19px;
			left: 30px;
			right: 30px;
			ul {
				@extend %listreset;
				overflow: hidden;
				margin: 0 !important;
				li {
					float: left;
					padding: 0 !important;
					margin: 0 40px 0 0;
					&:last-child {
						margin: 0;
					}
					&:before {
						display: none;
					}
				}
			}
			a {
				color: #454a50;
				&:hover {
					text-decoration: none;
					color: #f1f0ed;
				}
			}
		}
	}
	.image-block {
		display: inline-block;
		vertical-align: top;
		width: 389px;
		max-height: 300px;
		overflow: hidden;
		position: relative;
		&:before {
			content:'';
			position: absolute;
			left: 0;
			top: 40px;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-left: 12px solid #1b2127;
			border-bottom: 10px solid transparent;
		}
		img {
			width: 100%;
			height: auto;
			max-width: none;
		}
		+ .text-block {
			width: 389px;
		}
	}
	.text-block {
		display: inline-block;
		vertical-align: top;
		width: 389px;
		position: relative;
		min-height: 300px;
		padding: 25px 20px 44px 30px;
	}
	.type-post {
		position: absolute;
		top: 30px;
		right: 25px;
		font-size: 20px;
		a:hover {
			color: $link-color;
			text-decoration: none;
		}
	}
	.heading {
		padding: 0 35px 14px 0;
		background: none;
		overflow: visible;
	}
	.small-logo {
		margin: 0 0 11px;
		a {
			display: inline-block;
			vertical-align: top;
		}
		img {
			max-height: 40px;
			width: auto;
		}
	}
	.title {
		display: block;
		font-size: 20px; 
		font-weight: bold;
		margin: 0 0 4px;
	}
	.time {
		font-size: 16px;
	}
	.slick-prev {
	    padding: 0;
	    border:none;
	    text-align: center;
	    background: none;
	    width: 50px;
	    font-size: 0;
	    line-height: 0;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: -50px;
	    z-index: 3;
	    overflow: hidden;
	    span {
	        position: absolute;
	        top: 0;
	        border:2px solid $text-color;
	        margin: -15px 0  0 -15px;
	        width: 30px;
	        height: 30px;
	        border-radius: 50%;
	        top: 50%;
	        left: 50%;
	        font-size: 12px;
	        line-height: 28px;
	        overflow: hidden;
	        &:before {
	            display: inline-block;
	            vertical-align: top;
	        }
	    }
	    &:hover span:before {
	        animation: loopIconHorizontalInverse 0.5s ease;
	    }
	}
	.slick-next {
	    padding: 0;
	    border:none;
	    text-align: center;
	    background: none;
	    position: absolute;
	    top: 0;
	    right: -50px;
	    z-index: 3;
	    width: 50px;
	    height: 100%;
	    overflow: hidden;
	    span {
	        position: absolute;
	        top: 0;
	        border:2px solid $text-color;
	        margin: -15px 0 0 -15px;
	        left: 50%;
	        width: 30px;
	        height: 30px;
	        border-radius: 50%;
	        top: 50%;
	        font-size: 12px;
	        line-height: 28px;
	        overflow: hidden;
	        &:before {
	            display: inline-block;
	            vertical-align: top;
	        }
	    }
	    &:hover span:before {
	        animation: loopIconHorizontal 0.5s ease;
	    }
	}
	@media screen and (max-width: 1299px) and (min-width: 1200px) {
	    .slick-prev {
	        left: -120px;
	        transition: left 0.3s ease;
	        background: rgba(255,255,255, 0.8);
	    }
	    .slick-next {
	        right: -120px;
	        transition: right 0.3s ease;
	        background: rgba(255,255,255, 0.8);
	    }
	    &.left-hover .slick-prev {
	        left: 0;
	    }
	    &.right-hover .slick-next {
	        right: 0;
	    }
	}
	@media screen and (max-width: 1060px) and (min-width: 992px) {
	    .slick-prev {
	        left: -120px;
	        transition: left 0.3s ease;
	        background: rgba(255,255,255, 0.8);
	    }
	    .slick-next {
	        right: -120px;
	        transition: right 0.3s ease;
	        background: rgba(255,255,255, 0.8);
	    }
	    &.left-hover .slick-prev {
	        left: 0;
	    }
	    &.right-hover .slick-next {
	        right: 0;
	    }
	}
}