.nav-tabs {
	border:none;
	display: table;
	width: 100%;
	margin: -20px 0 7px;
	table-layout: fixed;
	@include media('<widescreen') {
		table-layout: auto;
	}
	@include media('<tablet') {
		display: block;
	}
	&:before,
	&:after {
		display: none;
	}
	li {
		display: table-cell;
		text-align: left;
		padding: 0 38px 18px 0;
		float: none;
		vertical-align: top;
		margin: 0;
		background: none !important;
		@include media('<widescreen') {
			padding: 0 10px 18px 0 ;
		}
		a {
			font-size: 30px;
			border:none;
			display: inline;
			padding: 0;
			color: $text-color;
			text-decoration: none;
			margin: 0;
			background: none !important;
			line-height: 36px;
			border-radius: 0;
			&:hover {
				text-decoration: underline;
				background: none;
				border:none;
				color: $text-color;
			}
			@include media('<desktop') {
				font-size: 26px;
				line-height: 30px;
			}
			@include media('<tablet') {
				font-size: 22px;
				line-height: 26px;
			}
		}
		@include media('<desktop') {
			padding: 0 10px 10px 0 ;
		}
		@include media('<tablet') {
			display: block;
			padding: 0 0 5px;
			& {
				text-align: left;
			}
		}
		&.active a {
			text-decoration: underline;
			background: none;
			border:none;
			padding: 0;
			color: $text-color;
			&:focus,
			&:hover {
				text-decoration: underline;
				background: none;
				border:none;
				color: $text-color;
			}
		}
	}
}
.heading {
	.nav-tabs {
		margin: -2px 0 -1px;
		table-layout: auto;
		@include media('<desktop') {
			margin: 0;
		}
		li {
			padding: 0 0  0 20px;
			&:first-child {
				padding: 0;
			}
			@include media('<tablet') {
				padding: 0 0 5px;
				&:first-child {
					padding: 0 0 5px;
				}
			}
			a {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
			&.active a {
				color: #fff;
				&:focus,
				&:hover {
					text-decoration: underline;
					background: none;
					border:none;
					color: #fff;
				}
			}
		}
	}
}
.photo-list {
	@extend %listreset;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	color: #fff;
	position: relative;
	* {
		-webkit-backface-visibility: hidden;
	}
	>li {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: normal;
		&:nth-child(4n),
		&:nth-child(4n-1) {
			.popup {
				left: auto;
				right: 0;
			}
		}
		&.last-el {
			.popup {
				top: auto;
				bottom: 0;
			}
		}
		&.hover {
			.text-block {
				top: 0;
				> * {
					opacity: 1;
					top: 0;
				}
			}
		}
		&.active .popup{
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
		@include media('<desktop') {
			width: 33.33%;
			font-size: 16px;
			line-height: 22px;
			&:nth-child(4n),
			&:nth-child(4n-1) {
				.popup {
					left: 0;
					right: auto;
				}
			}
			&:nth-child(3n) {
				.popup {
					left: auto;
					right: 0;
				}
			}
		}
		@include media('<tablet') {
			width: 100%;
			position: relative;
			&.last-el {
				.popup {
					top: 0;
					bottom: auto;
				}
			}
			&:last-child {
				.popup {
					top: auto;
					bottom: 0;
				}
			}
		}
	}
	.over-block {
		overflow: hidden;
		position: relative;
	}
	a {
		color: #fff;
	}
	img {
		width: 100%;
		height: auto;
		max-width: none;
	}
	.text-block {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		height: 100%;
		transition:top 0.5s ease;
		background-color: rgba(27, 33, 39, 0.8);
		padding: 22px 25px 15px;
		font-weight: 300;
		@include media('<widescreen') { 
			padding: 15px 15px 5px;
		}
		h3 {
			font-size: 20px;
			line-height: 24px;
			margin: 0 0 8px;
			@include media('<desktop') {
				font-size: 18px;
			}
		}
		hr {
			width: 40px;
			margin: 0 0 20px;
			border-top: 2px solid #fff;
		}
		> *{
			opacity: 0;
			position: relative;
			top: 40px;
			transition: opacity 0.6s ease 0.2s, top 0.6s ease 0.2s;
		}
		@include media('<desktop') {
			padding: 28px 22px 15px;
			hr {
				margin: 0 0 13px;
			}
			.more {
				font-size: 16px;
			}
		}
		@include media('<tablet') {
			padding: 28px 24px 15px;
		}
	}
}
.popup {
	position: absolute;
	z-index: 2;
	top: 0;
	right: auto;
	left: 0;
	width: 50%;
	background: #1f262c;
	font-weight: 300;
	visibility: hidden;
	opacity: 0;
	color: #fff;
	transition: opacity 0.5s ease, visibility 0s ease 0.5s;
	&.clone {
		position: relative;
		opacity: 1;
		visibility: visible;
		font-size: 18px;
		line-height: 24px;
	}
	@include media('<desktop') {
		width: 66.66%;
	}
	@include media('<tablet') {
		width: 100%;
		right: 0;
		left: 0;
	}
	a {
		color: #fff;
	}
	img {
		width: 100%;
		height: auto;
		max-width: none;
	}
	.close {
		position: absolute;
		top: 14px;
		right: 26px;
		color: #1f262c;
		overflow: hidden;
		width: 24px;
		height: 24px;
		z-index: 2;
		&::before, &::after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: -1px;
			background: #1f262c;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
		@include media('<tablet') {
			top: 16px;
			right: 16px;
		}
	}
	.holder {
		padding: 32px 44px 30px 24px;
		@include media('<widescreen') {
			padding: 25px 24px 25px;
		}
		@include media('<tablet') {
			padding: 23px 24px 18px;
		}
	}
	h3 {
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 8px;
		@include media('<desktop') {
			font-size: 18px;
		}
	}
	hr {
		width: 40px;
		margin: 0 0 22px;
		border-top: 2px solid #fff;
		@include media('<tablet') {
			margin: 0 0 15px;
		}
	}
	p {
		margin: 0 0 26px;
		@include media('<tablet') {
			margin: 0 0 15px;
		}
	}
}
.not-enough .popup {
	left: -9999px !important;
	right: auto !important;
}