.table-holder {
	overflow: hidden;
	@include media('<tablet') {
		background-color: transparent !important;
		[class^="col-"]:nth-child(odd) {
			background-color: $dark-gray;
			&:before {
				border-left:46px solid  #d3d1cb !important;
				border-right:46px solid  #c4c1ba !important;
			}
		}
		[class^="col-"]:nth-child(even) {
			background-color: $gray;
			&:before {
				border-left:46px solid  #e3e1dc !important;
				border-right:46px solid  #d3d1cc !important;
			}
		}
	}
	[class^="col-"] {
		position: relative;
		z-index: 2;
		&:before {
			content:'';
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: -200px;
			border-left:93px solid  #d3d1cb;
			border-right:93px solid  #c4c1ba;
			@include media('<desktop') {
				border-left:57px solid  #d3d1cb;
				border-right:57px solid  #c4c1ba;
			}
		}
		@include media('<tablet') {
			overflow: hidden;
		}
	}
	&.gray [class^="col-"]:before {
		border-left:93px solid  #e3e1dc;
		border-right:93px solid  #d3d1cc;
		@include media('<desktop') {
			border-left:57px solid  #e3e1dc;
			border-right:57px solid  #d3d1cc;
		}
	}
	table {
		margin: 0 0 44px;
		padding: 0;
		width: 100%;
		font-size: 20px;
		line-height: 25px;
		@include media('<desktop') {
			font-size: 18px;
			line-height: 24px;
			margin: 0 0 28px;
		}
		@include media('<tablet') {
			margin: 0 0 9px;
			font-size: 16px;
			line-height: 20px;
		}
		th {
			vertical-align: top;
			font-weight: bold;
			color: $blue;
			padding: 33px 45px 11px 70px; 
			text-align: left;
			@include media('<widescreen') {
				padding: 33px 20px 11px 40px; 
			}
			@include media('<desktop') {
				padding: 33px 20px 11px 40px;
			}
			@include media('<tablet') {
				padding: 16px 10px 9px 15px; 
			}
		}
		th:first-child + th + th,
		th:first-child + th {
			width: 93px;
			text-align: center;
			font-weight: normal;
			color: $text-color;
			padding: 33px 5px 11px;
			font-size: 18px;
			@include media('<desktop') {
				width: 57px;
				font-size: 16px;
			}
			@include media('<tablet') {
				font-size: 14px;
				width: 46px;
				padding: 16px 5px 9px;
			}
		}
		td {
			vertical-align: top;
			padding: 0 45px 11px 70px;
			text-align: left;
			@include media('<widescreen') {
				padding: 0 20px 11px 40px;
			}
			@include media('<desktop') {
				padding: 0 20px 11px 40px;
			}
			@include media('<tablet') {
				padding: 0 10px 9px 15px;
			}
		}
		td:first-child + td + td,
		td:first-child + td {
			text-align: center;
			width: 93px;
			font-weight: normal;
			color: $text-color;
			padding: 0 5px 11px;
			@include media('<desktop') {
				width: 57px;
			}
			@include media('<tablet') {
				width: 46px;
			}
		}
		.checked {
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $blue;
			margin: 10px auto 0;
			@include media('<desktop') {
				margin: 8px auto 0;
			}
			@include media('<tablet') {
				width: 8px;
				height: 8px;
			}
		}
	}
}