.tags-block {
	color: #fefefe;
	padding: 63px 100px 79px 105px; 
	@include media('<widescreen') {
		padding: 63px 70px 79px; 
	}
	@include media('<desktop') {
		padding: 53px 50px 50px;
	}
	ul {
		margin: 0 !important;
		overflow: hidden;
		li {
			padding: 0 !important;
			&:before {
				display: none;
			}
		}
	}
	a {
		color: #fefefe;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}