.video {
	overflow: hidden;
	a {
		display: block;
		position: relative;
		&:hover {
			.play {
				opacity: 1;
			}
			.caption {
				opacity: 0;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		max-width: none;
	}
	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px 41px 21px;
		color: #e8e6e1;
		font-size: 22px;
		line-height: 26px;
		background-color: rgba(27, 33, 39, 0.9);
		z-index: 1;
		transition:opacity 0.5s ease;
		opacity: 1;
		&:before {
			content:'';
			position: absolute;
			top: -12px;
			left: 41px;
			width: 0;
			height: 0;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
			border-bottom: 12px solid rgba(27, 33, 39, 0.9);
		}
		@include media('<desktop') {
			font-size: 20px;
			line-height: 24px;
			padding: 20px 21px 21px;
			&:before {
				left: 21px;
			}
		}
		@include media('<tablet') {
			font-size: 17px;
			line-height: 22px;
			padding: 16px 15px 17px;
			&:before {
				left: 15px;
				top: -10px;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 10px solid rgba(27, 33, 39, 0.9);
			}
		}
	}
	.play {
		background-color: rgba(27, 33, 39, 0.9);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		opacity: 0;
		transition:all 0.3s ease;
		-webkit-backface-visibility: hidden;
		&:after {
			width: 72px;
			height: 72px;
			border-radius: 50%;
			content:'';
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -36px 0 0 -36px;
			border:2px solid #e3e1dc;
		}
		&:before {
			content:'';
			position: absolute;
			left: 50%;
			top: 50%;
			width: 0;
			height: 0;
			margin: -17px 0 0 -12px;
			border-top: 18px solid transparent;
			border-left: 30px solid #e3e1dc;
			border-bottom: 18px solid transparent;
		}
		@include media('<tablet') {
			&:after {
				width: 50px;
				height: 50px;
				margin: -25px 0 0 -25px;
			}
			&:before {
				margin: -12px 0 0 -7px;
				border-top: 12px solid transparent;
				border-left: 20px solid #e3e1dc;
				border-bottom: 12px solid transparent;
			}
		}
	}
}
