@font-face {
    font-family: 'brown';
    src: url('fonts/brown-bold-webfont.eot');
    src: url('fonts/brown-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-bold-webfont.woff2') format('woff2'),
         url('fonts/brown-bold-webfont.woff') format('woff'),
         url('fonts/brown-bold-webfont.ttf') format('truetype'),
         url('fonts/brown-bold-webfont.svg#brownbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-bold-italic-webfont.eot');
    src: url('fonts/brown-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-bold-italic-webfont.woff2') format('woff2'),
         url('fonts/brown-bold-italic-webfont.woff') format('woff'),
         url('fonts/brown-bold-italic-webfont.ttf') format('truetype'),
         url('fonts/brown-bold-italic-webfont.svg#brownbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-light-webfont.eot');
    src: url('fonts/brown-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-light-webfont.woff2') format('woff2'),
         url('fonts/brown-light-webfont.woff') format('woff'),
         url('fonts/brown-light-webfont.ttf') format('truetype'),
         url('fonts/brown-light-webfont.svg#brownlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-light-italic-webfont.eot');
    src: url('fonts/brown-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-light-italic-webfont.woff2') format('woff2'),
         url('fonts/brown-light-italic-webfont.woff') format('woff'),
         url('fonts/brown-light-italic-webfont.ttf') format('truetype'),
         url('fonts/brown-light-italic-webfont.svg#brownlight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-regular-webfont.eot');
    src: url('fonts/brown-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-regular-webfont.woff2') format('woff2'),
         url('fonts/brown-regular-webfont.woff') format('woff'),
         url('fonts/brown-regular-webfont.ttf') format('truetype'),
         url('fonts/brown-regular-webfont.svg#brownregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-regular-italic-webfont.eot');
    src: url('fonts/brown-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-regular-italic-webfont.woff2') format('woff2'),
         url('fonts/brown-regular-italic-webfont.woff') format('woff'),
         url('fonts/brown-regular-italic-webfont.ttf') format('truetype'),
         url('fonts/brown-regular-italic-webfont.svg#brownregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-thin-webfont.eot');
    src: url('fonts/brown-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-thin-webfont.woff2') format('woff2'),
         url('fonts/brown-thin-webfont.woff') format('woff'),
         url('fonts/brown-thin-webfont.ttf') format('truetype'),
         url('fonts/brown-thin-webfont.svg#brownthin') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-thin-italic-webfont.eot');
    src: url('fonts/brown-thin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brown-thin-italic-webfont.woff2') format('woff2'),
         url('fonts/brown-thin-italic-webfont.woff') format('woff'),
         url('fonts/brown-thin-italic-webfont.ttf') format('truetype'),
         url('fonts/brown-thin-italic-webfont.svg#brownthin_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?w2b170');
    src:    url('fonts/icomoon.eot?w2b170#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?w2b170') format('truetype'),
        url('fonts/icomoon.woff?w2b170') format('woff'),
        url('fonts/icomoon.svg?w2b170#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: "\e91a";
}
.icon-chat:before {
    content: "\e916";
}
.icon-calculator:before {
    content: "\e917";
}
.icon-alert:before {
    content: "\e918";
}
.icon-paper:before {
    content: "\e913";
}
.icon-mark:before {
    content: "\e914";
}
.icon-libra:before {
    content: "\e915";
}
.icon-plus:before {
    content: "\e912";
}
.icon-mail:before {
    content: "\e911";
}
.icon-youtube-with-circle:before {
    content: "\e90c";
}
.icon-arrow-down:before {
    content: "\e90f";
}
.icon-arrow-left:before {
    content: "\e910";
}
.icon-arrow-right:before {
    content: "\e908";
}
.icon-heart:before {
    content: "\e900";
}
.icon-goodwin:before {
    content: "\e901";
}
.icon-vimeo:before {
    content: "\e904";
}
.icon-twitter:before {
    content: "\e905";
}
.icon-facebook:before {
    content: "\e906";
}
.icon-phone:before {
    content: "\e902";
}
.icon-ask:before {
    content: "\e903";
}
.icon-circle-close:before {
    content: "\e907";
}
.icon-list-unordered:before {
    content: "\e919";
}
.icon-undo2:before {
    content: "\e909";
}
.icon-bubble:before {
    content: "\e90a";
}
.icon-star-full:before {
    content: "\e90b";
}
.icon-facebook2:before {
    content: "\e90d";
}
.icon-twitter2:before {
    content: "\e90e";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-thumbs-o-up:before {
    content: "\f087";
}
