// Typography
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
    font-weight: normal;
}
h1, .h1 {
    line-height: 58px;
    font-size: 60px;
    margin: 0 0 34px;
    color: $blue;
    @include media('<desktop') {
        font-size: 50px;
        line-height: 48px;
        margin: 0 0 26px;
    }
    @include media('<tablet') {
        line-height: 34px;
        font-size: 30px;
        margin: 0 0 20px;
    }
}
h2, .h2 {
    margin: 0 0 25px;
    font-size: 30px;
    color: $blue;
    line-height: 1.05;
    font-weight: normal;
    @include media('<desktop') {
        font-size: 28px;
    }
    @include media('<tablet') {
        font-size: 24px;
        margin: 0 0 10px;
        line-height: 1.2;
    }
}
h3, .h3 {
    line-height: 1.18;
    margin: 0 0 19px;
    font-weight: normal;
    font-size: 24px;
    @include media('<tablet') {
        margin: 0 0 13px;
    }
}
h4, .h4 {
    font-size: 22px;
    margin: 0 0 16px;
    line-height: 28px;
    font-weight: normal;
    color: $link-color;
    @include media('<tablet') {
        font-size: 20px;
        line-height: 26px;
    }
}
h5, .h5 {
    font-size: 20px;
    line-height: 1.1;
    margin: 0 0 12px;
    color: $link-color;
    @include media('<desktop') {
        font-size: 18px;
    }
    @include media('<tablet') {
        font-size: 15px;
    }
}
h6, .h6 {
    font-size: 18px;
    margin: 0 0 19px;
    padding-top: 12px;
    font-weight: normal;
    @include media('<tablet') {
        padding-top: 5px;
        margin: 0 0 12px;
    }
}
p {
    margin: 0 0 21px;
    @include media('<desktop') {
        margin: 0 0 18px;
    }
    @include media('<tablet') {
        margin: 0 0 12px;
    }
    + h2 {
        padding-top: 24px;
        @include media('<desktop') {
            padding-top: 17px;
        }
        @include media('<tablet') {
            padding-top: 10px;
        }
    }
}
.heading {
    background: $blue;
    padding: 24px 70px 27px;
    overflow: hidden;
    h1,
    .h1 {
        color: #fff;
        font-size: 30px;
        line-height: 34px;
        margin: 0;
        float: left;
        @include media('<tablet') {
            float: none;
        }
    }
    .holder {
        float: right;
        width: 374px;
        @include media('<widescreen') {
            width: 310px;
        }
        @include media('<desktop') {
            width: auto;
        }
        @include media('<tablet') {
            float: none;
            width: 100%;
            padding-top: 13px;
        }
    }
    .more {
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        line-height: 34px;
        opacity: 0.2;
        transition: opacity 0.3s ease;
        .icon-arrow-right{
            top: 4px;
        }
        &:hover {
            opacity: 1;
        }
    }
    @include media('<widescreen') {
        padding: 24px 40px 27px;
    }
    @include media('<desktop') {
        padding: 20px 40px 22px;
        .more,
        h1,
        .h1 {
            font-size: 28px;
            line-height: 32px;
        }
        .more  .icon-arrow-right{
            top: 2px;
        }
    }
    @include media('<tablet') {
        padding: 16px 15px 20px;
        .more,
        h1,
        .h1 {
            font-size: 24px;
            line-height: 26px;
        }
    }
}
.home .heading {
    padding: 24px 10px  27px 40px;
    @include media('<desktop') {
        padding: 20px 10px 22px 30px;
    }
    @include media('<tablet') {
        padding: 16px 15px 20px;
    }
}
.head {
    padding: 0 70px 29px;
    h2 {
        color: $text-color;
        margin: 0;
    }
    &.small {
        padding-top: 24px;
    }
    @include media('<widescreen') {
        padding: 0 40px 29px;
    }
    @include media('<desktop') {
        padding: 0 40px 18px;
    }
    @include media('<tablet') {
        padding: 0 15px 12px;
    }
}
.col-md-5 {
    .head {
        padding: 0 40px 29px;
        &.small {
           padding-top: 24px;
        }
        @include media('<desktop') {
            padding: 80px 40px 18px; 
        }
        @include media('<tablet') {
            padding: 35px 15px 12px;
        }
    }
}
#main ul:not([class]) {
    @extend %listreset;
    margin-bottom: 21px;
    @include media('<desktop') {
        margin-bottom: 18px;
    }
    @include media('<tablet') {
        margin-bottom: 15px;
    }
    li {
        padding: 0 0 0 12px;
        position: relative;
        &:before {
            content:'';
            position: absolute;
            left: 0;
            top: 13px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $text-color;
            @include media('<tablet') {
                top: 10px;
            }
        }
        ul:not([class]) {
            margin: 0;
        }
    }
}